@font-face {
	font-family: 'base';
	src: url('assets/base.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'base' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	// Vertical align
	display: inline-block;
	position: relative;
	top: 0.06em;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-columns:before { content: "\e900"; }
.icon-underline:before { content: "\e901"; }
.icon-grid:before { content: "\e902"; }
.icon-triangle:before { content: "\e903"; }
.icon-search:before { content: "\e904"; }
.icon-volume-2:before { content: "\e905"; }
.icon-arrow-up-circle:before { content: "\e906"; }
.icon-pause-circle:before { content: "\e907"; }
.icon-check-square:before { content: "\e908"; }
.icon-arrow-down:before { content: "\e909"; }
.icon-corner-right-up:before { content: "\e90a"; }
.icon-chevrons-right:before { content: "\e90b"; }
.icon-list:before { content: "\e90c"; }
.icon-chevrons-down:before { content: "\e90d"; }
.icon-wind:before { content: "\e90e"; }
.icon-corner-up-right:before { content: "\e90f"; }
.icon-target:before { content: "\e910"; }
.icon-scissors:before { content: "\e911"; }
.icon-minimize-2:before { content: "\e912"; }
.icon-play-circle:before { content: "\e913"; }
.icon-crosshair:before { content: "\e914"; }
.icon-airplay:before { content: "\e915"; }
.icon-x-octagon:before { content: "\e916"; }
.icon-repeat:before { content: "\e917"; }
.icon-edit-3:before { content: "\e918"; }
.icon-path:before { content: "\e919"; }
.icon-volume-1:before { content: "\e91a"; }
.icon-sunrise:before { content: "\e91b"; }
.icon-toggle-right:before { content: "\e91c"; }
.icon-umbrella:before { content: "\e91d"; }
.icon-user:before { content: "\e91e"; }
.icon-file-minus:before { content: "\e91f"; }
.icon-x-circle:before { content: "\e920"; }
.icon-circle:before { content: "\e921"; }
.icon-phone-missed:before { content: "\e922"; }
.icon-edit-2:before { content: "\e923"; }
.icon-corner-left-up:before { content: "\e924"; }
.icon-home:before { content: "\e925"; }
.icon-music:before { content: "\e926"; }
.icon-smartphone:before { content: "\e927"; }
.icon-more-horizontal:before { content: "\e928"; }
.icon-sliders:before { content: "\e929"; }
.icon-arrow-up-left:before { content: "\e92a"; }
.icon-chevron-down:before { content: "\e92b"; }
.icon-hexagon:before { content: "\e92c"; }
.icon-github:before { content: "\e92d"; }
.icon-crop:before { content: "\e92e"; }
.icon-tag:before { content: "\e92f"; }
.icon-briefcase:before { content: "\e930"; }
.icon-rotate-cw:before { content: "\e931"; }
.icon-map:before { content: "\e932"; }
.icon-inbox:before { content: "\e933"; }
.icon-align-justify:before { content: "\e934"; }
.icon-plus-square:before { content: "\e935"; }
.icon-power:before { content: "\e936"; }
.icon-database:before { content: "\e937"; }
.icon-camera-off:before { content: "\e938"; }
.icon-toggle-left:before { content: "\e939"; }
.icon-file:before { content: "\e93a"; }
.icon-message-circle:before { content: "\e93b"; }
.icon-voicemail:before { content: "\e93c"; }
.icon-terminal:before { content: "\e93d"; }
.icon-move:before { content: "\e93e"; }
.icon-maximize:before { content: "\e93f"; }
.icon-chevron-up:before { content: "\e940"; }
.icon-arrow-down-left:before { content: "\e941"; }
.icon-file-text:before { content: "\e942"; }
.icon-droplet:before { content: "\e943"; }
.icon-zap-off:before { content: "\e944"; }
.icon-x:before { content: "\e945"; }
.icon-bar-chart:before { content: "\e946"; }
.icon-lock:before { content: "\e947"; }
.icon-log-in:before { content: "\e948"; }
.icon-shopping-bag:before { content: "\e949"; }
.icon-cloud-drizzle:before { content: "\e94a"; }
.icon-refresh-cw:before { content: "\e94b"; }
.icon-chevron-right:before { content: "\e94c"; }
.icon-clipboard:before { content: "\e94d"; }
.icon-package:before { content: "\e94e"; }
.icon-instagram:before { content: "\e94f"; }
.icon-link:before { content: "\e950"; }
.icon-video-off:before { content: "\e951"; }
.icon-key:before { content: "\e952"; }
.icon-meh:before { content: "\e953"; }
.icon-corner-down-right:before { content: "\e954"; }
.icon-arrow-right:before { content: "\e955"; }
.icon-aperture:before { content: "\e956"; }
.icon-stop-circle:before { content: "\e957"; }
.icon-log-out:before { content: "\e958"; }
.icon-arrow-left-circle:before { content: "\e959"; }
.icon-bar-chart-2:before { content: "\e95a"; }
.icon-git-pull-request:before { content: "\e95b"; }
.icon-minimize:before { content: "\e95c"; }
.icon-minus-square:before { content: "\e95d"; }
.icon-settings:before { content: "\e95e"; }
.icon-cloud-snow:before { content: "\e95f"; }
.icon-thumbs-down:before { content: "\e960"; }
.icon-type:before { content: "\e961"; }
.icon-archive:before { content: "\e962"; }
.icon-phone-outgoing:before { content: "\e963"; }
.icon-pocket:before { content: "\e964"; }
.icon-mail:before { content: "\e965"; }
.icon-shield:before { content: "\e966"; }
.icon-download:before { content: "\e967"; }
.icon-phone-forwarded:before { content: "\e968"; }
.icon-corner-right-down:before { content: "\e969"; }
.icon-book-open:before { content: "\e96a"; }
.icon-server:before { content: "\e96b"; }
.icon-tv:before { content: "\e96c"; }
.icon-skip-forward:before { content: "\e96d"; }
.icon-volume:before { content: "\e96e"; }
.icon-user-plus:before { content: "\e96f"; }
.icon-battery-charging:before { content: "\e970"; }
.icon-layers:before { content: "\e971"; }
.icon-slash:before { content: "\e972"; }
.icon-radio:before { content: "\e973"; }
.icon-book:before { content: "\e974"; }
.icon-user-minus:before { content: "\e975"; }
.icon-bell:before { content: "\e976"; }
.icon-git-branch:before { content: "\e977"; }
.icon-coffee:before { content: "\e978"; }
.icon-code:before { content: "\e979"; }
.icon-thermometer:before { content: "\e97a"; }
.icon-cast:before { content: "\e97b"; }
.icon-flag:before { content: "\e97c"; }
.icon-eye-off:before { content: "\e97d"; }
.icon-battery:before { content: "\e97e"; }
.icon-disc:before { content: "\e97f"; }
.icon-frown:before { content: "\e980"; }
.icon-tool:before { content: "\e981"; }
.icon-cpu:before { content: "\e982"; }
.icon-bold:before { content: "\e983"; }
.icon-hash:before { content: "\e984"; }
.icon-share-2:before { content: "\e985"; }
.icon-plus:before { content: "\e986"; }
.icon-check:before { content: "\e987"; }
.icon-rotate-ccw:before { content: "\e988"; }
.icon-hard-drive:before { content: "\e989"; }
.icon-bluetooth:before { content: "\e98a"; }
.icon-pie-chart:before { content: "\e98b"; }
.icon-headphones:before { content: "\e98c"; }
.icon-rss:before { content: "\e98d"; }
.icon-wifi:before { content: "\e98e"; }
.icon-corner-up-left:before { content: "\e98f"; }
.icon-watch:before { content: "\e990"; }
.icon-info:before { content: "\e991"; }
.icon-user-x:before { content: "\e992"; }
.icon-loader:before { content: "\e993"; }
.icon-refresh-ccw:before { content: "\e994"; }
.icon-folder-plus:before { content: "\e995"; }
.icon-git-merge:before { content: "\e996"; }
.icon-mic:before { content: "\e997"; }
.icon-copy:before { content: "\e998"; }
.icon-zoom-in:before { content: "\e999"; }
.icon-arrow-right-circle:before { content: "\e99a"; }
.icon-align-right:before { content: "\e99b"; }
.icon-image:before { content: "\e99c"; }
.icon-maximize-2:before { content: "\e99d"; }
.icon-check-circle:before { content: "\e99e"; }
.icon-sunset:before { content: "\e99f"; }
.icon-save:before { content: "\e9a0"; }
.icon-smile:before { content: "\e9a1"; }
.icon-navigation:before { content: "\e9a2"; }
.icon-cloud-lightning:before { content: "\e9a3"; }
.icon-paperclip:before { content: "\e9a4"; }
.icon-fast-forward:before { content: "\e9a5"; }
.icon-x-square:before { content: "\e9a6"; }
.icon-award:before { content: "\e9a7"; }
.icon-zoom-out:before { content: "\e9a8"; }
.icon-box:before { content: "\e9a9"; }
.icon-thumbs-up:before { content: "\e9aa"; }
.icon-percent:before { content: "\e9ab"; }
.icon-sidebar:before { content: "\e9ac"; }
.icon-square:before { content: "\e9ad"; }
.icon-play:before { content: "\e9ae"; }
.icon-git-commit:before { content: "\e9af"; }
.icon-send:before { content: "\e9b0"; }
.icon-phone-call:before { content: "\e9b1"; }
.icon-speaker:before { content: "\e9b2"; }
.icon-facebook:before { content: "\e9b3"; }
.icon-codesandbox:before { content: "\e9b4"; }
.icon-camera:before { content: "\e9b5"; }
.icon-link-2:before { content: "\e9b6"; }
.icon-printer:before { content: "\e9b7"; }
.icon-folder-minus:before { content: "\e9b8"; }
.icon-arrow-up-right:before { content: "\e9b9"; }
.icon-truck:before { content: "\e9ba"; }
.icon-life-buoy:before { content: "\e9bb"; }
.icon-pen-tool:before { content: "\e9bc"; }
.icon-at-sign:before { content: "\e9bd"; }
.icon-feather:before { content: "\e9be"; }
.icon-trash:before { content: "\e9bf"; }
.icon-wifi-off:before { content: "\e9c0"; }
.icon-corner-left-down:before { content: "\e9c1"; }
.icon-dollar-sign:before { content: "\e9c2"; }
.icon-star:before { content: "\e9c3"; }
.icon-cloud-off:before { content: "\e9c4"; }
.icon-sun:before { content: "\e9c5"; }
.icon-message-square:before { content: "\e9c6"; }
.icon-edit:before { content: "\e9c7"; }
.icon-anchor:before { content: "\e9c8"; }
.icon-alert-circle:before { content: "\e9c9"; }
.icon-chevrons-up:before { content: "\e9ca"; }
.icon-upload-cloud:before { content: "\e9cb"; }
.icon-twitch:before { content: "\e9cc"; }
.icon-youtube:before { content: "\e9cd"; }
.icon-unlock:before { content: "\e9ce"; }
.icon-compass:before { content: "\e9cf"; }
.icon-plus-circle:before { content: "\e9d0"; }
.icon-credit-card:before { content: "\e9d1"; }
.icon-cloud-rain:before { content: "\e9d2"; }
.icon-trash-2:before { content: "\e9d3"; }
.icon-skip-back:before { content: "\e9d4"; }
.icon-file-plus:before { content: "\e9d5"; }
.icon-delete:before { content: "\e9d6"; }
.icon-command:before { content: "\e9d7"; }
.icon-clock:before { content: "\e9d8"; }
.icon-octagon:before { content: "\e9d9"; }
.icon-phone:before { content: "\e9da"; }
.icon-eye:before { content: "\e9db"; }
.icon-phone-off:before { content: "\e9dc"; }
.icon-codepen:before { content: "\e9dd"; }
.icon-gift:before { content: "\e9de"; }
.icon-external-link:before { content: "\e9df"; }
.icon-zap:before { content: "\e9e0"; }
.icon-trello:before { content: "\e9e1"; }
.icon-more-vertical:before { content: "\e9e2"; }
.icon-mic-off:before { content: "\e9e3"; }
.icon-share:before { content: "\e9e4"; }
.icon-arrow-up:before { content: "\e9e5"; }
.icon-bell-off:before { content: "\e9e6"; }
.icon-linkedin:before { content: "\e9e7"; }
.icon-video:before { content: "\e9e8"; }
.icon-twitter:before { content: "\e9e9"; }
.icon-map-pin:before { content: "\e9ea"; }
.icon-filter:before { content: "\e9eb"; }
.icon-phone-incoming:before { content: "\e9ec"; }
.icon-italic:before { content: "\e9ed"; }
.icon-chevrons-left:before { content: "\e9ee"; }
.icon-calendar:before { content: "\e9ef"; }
.icon-globe:before { content: "\e9f0"; }
.icon-arrow-left:before { content: "\e9f1"; }
.icon-align-center:before { content: "\e9f2"; }
.icon-minus-circle:before { content: "\e9f3"; }
.icon-arrow-down-right:before { content: "\e9f4"; }
.icon-volume-x:before { content: "\e9f5"; }
.icon-slack:before { content: "\e9f6"; }
.icon-cloud:before { content: "\e9f7"; }
.icon-download-cloud:before { content: "\e9f8"; }
.icon-shuffle:before { content: "\e9f9"; }
.icon-rewind:before { content: "\e9fa"; }
.icon-upload:before { content: "\e9fb"; }
.icon-trending-down:before { content: "\e9fc"; }
.icon-pause:before { content: "\e9fd"; }
.icon-arrow-down-circle:before { content: "\e9fe"; }
.icon-bookmark:before { content: "\e9ff"; }
.icon-alert-triangle:before { content: "\ea00"; }
.icon-user-check:before { content: "\ea01"; }
.icon-tablet:before { content: "\ea02"; }
.icon-alert-octagon:before { content: "\ea03"; }
.icon-menu:before { content: "\ea04"; }
.icon-chrome:before { content: "\ea05"; }
.icon-shopping-cart:before { content: "\ea06"; }
.icon-folder:before { content: "\ea07"; }
.icon-users:before { content: "\ea08"; }
.icon-corner-down-left:before { content: "\ea09"; }
.icon-monitor:before { content: "\ea0a"; }
.icon-minus:before { content: "\ea0b"; }
.icon-help-circle:before { content: "\ea0c"; }
.icon-navigation-2:before { content: "\ea0d"; }
.icon-chevron-left:before { content: "\ea0e"; }
.icon-film:before { content: "\ea0f"; }
.icon-moon:before { content: "\ea10"; }
.icon-shield-off:before { content: "\ea11"; }
.icon-layout:before { content: "\ea12"; }
.icon-mouse-pointer:before { content: "\ea13"; }
.icon-align-left:before { content: "\ea14"; }
.icon-heart:before { content: "\ea15"; }
.icon-trending-up:before { content: "\ea16"; }
