<ul>
	{% for item in menu %}
	<li class="padre">
		<a href="{{ item.link }}">{{ item.title }}</a>
		{% if item.submenu %}
		<ul>
			{% for submenu in item.submenu %}
			<li {% if condition %} class="active" {% endif %} >
				<a href="{{ submenu.link }}">{{ submenu.title }}</a>
			</li>
			{% endfor %}
		</ul>
		{% endif %}
	</li>
	{% endfor %}
</ul>