<div class="menu-top-logo">
	<img src="/images/logo.svg" alt="base: CSS & Style Guide Framework">
	<span>CSS & Style Guide Framework</span>
</div>

<div class="menu-top-menu">
	<ul>
		<li><a href="changelog.html">Novedades</a></li>
		<li><a href="guide.html">Guía</a></li>
		<li><a href="about.html">About</a></li>
	</ul>
</div>