// Breakpoints para las diferentes resoluciones

$media-xs: 767px;
$media-sm: 768px;
$media-md: 992px;
$media-lg: 1200px;


$breakpoints: (
	xs: $media-xs,
	sm: $media-sm,
	md: $media-md,
	lg: $media-lg
);

// Tamaño de espacio base utilizado para margenes y padding
$base-space-size: 15px;

//
// COLORS
//

// Color primario

$color-primary-dk: #0E5989;
$color-primary-md: #186CA4;
$color-primary: #3099DC;
$color-primary-lt: #6EB6E9;
$color-primary-br: #93CBF1;

// Color secundario

$color-secondary-dk: #5D1B2C;
$color-secondary-md: #D13B62;
$color-secondary: #FF4877;
$color-secondary-lt: #FF8AA8;
$color-secondary-br: #FFDDE6;

// Colores personalizados

$color-custom-1: #fc5185;
$color-custom-2: #364f6b;
$color-custom-3: #43dde6;
$color-custom-4: #f0f0f0;

// Colores de sistema

$color-success: #61bb46;
$color-warning: #fdb827;
$color-danger: #e03a3e;
$color-info: #009ddc;

// Colores para escala de grises

$color-black: #000;
$color-dark: #555555;
$color-midtone: #777777;
$color-gray: #999999;
$color-light: #bbbbbb;
$color-bright: #dddddd;
$color-white: #FFFFFF;
