.collapse {
	opacity: 1;
	overflow: hidden;
	transition: height 0.3s ease-out, opacity 0.4s ease-out;
	border: $collapse-border-width solid $collapse-border-color;
	border-bottom-left-radius: $collapse-border-radius;
	border-bottom-right-radius: $collapse-border-radius;
	border-top: 0;
	background: $collapse-background-color;

	&:not(.show) {
		height: 0px;
		opacity: 0;
		margin: 0 !important;
	}
}

.collapse-content { padding: $collapse-content-padding-y $collapse-content-padding-x; }

[data-action="collapse"] {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	padding: $collapse-action-padding-y $collapse-action-padding-x;
	background: $collapse-action-background-color;
	border: $collapse-action-border-width solid $collapse-action-border-color;
	border-radius: $collapse-action-border-radius;
	font-size: $collapse-action-font-size;
	font-weight: $collapse-action-font-weight;

	&.active {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
}