.navbar {
	position: relative;
	width: 100%;
	background: $navbar-background-color;
	padding: 0 $navbar-padding-x;
	border-radius: $navbar-border-radius;
}

.navbar-content {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	height: $navbar-height;

	@include breakpoint-down(sm) {
		display: none;
		position: absolute;
		left: 0;
		right: 0;
		top: $navbar-responsive-height;
		width: 100%;
		height: auto;
		background: #cecece;
		overflow: hidden;
		padding: $base-space-size $base-space-size;


		.navbar-left,
		.navbar-center,
		.navbar-right {
			display: block;
			position: static;
			max-width: 100%;
			transform: none;
			width: 100%;

			.navbar-item a:not(.btn) {
				line-height: 1;
				white-space: nowrap;
				background: transparent;
				color: blue;
				padding: $navbar-item-padding-x;
				width: 100%;

				&:hover { background: pink; }
			}

			.navbar-item span {
				margin: 0;
				padding: $navbar-item-padding-x;
				display: block;
				
			}

			.navbar-item a.btn {
				display: block;
				margin: $navbar-item-padding-x;
			}			

			.navbar-dropdown {
				position: relative;

				&:hover .navbar-dropdown-toogle { background: pink; }

				.navbar-dropdown-toogle {
					line-height: 1;
					white-space: nowrap;
					background: transparent;
					color: blue;
					padding: $navbar-item-padding-x;
					width: 100%;

					&:hover { background: pink; }
				}

				.navbar-dropdown-menu.open {
					position: static;
				}
			}			
		}
		&.open {
			display: block;
		}
	}	
}

.navbar-responsive {
	display: none;
	height: $navbar-responsive-height;

	@include breakpoint-down(sm) {
		display: flex;
		justify-content: space-between;
	}
}

.navbar-left,
.navbar-center,
.navbar-right {
	display: flex;
	align-items: center;
	max-width: 80%;
	height: 100%;
}

.navbar-left {
	order: 1;
	justify-content: flex-start;
}

.navbar-center {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.navbar-right {
	order: 3;
	justify-content: flex-end;
}

.navbar-item a:not(.btn) {
	display: inline-block;
	line-height: $navbar-height;
	height: 100%;
	white-space: nowrap;
	background: transparent;
	color: blue;
	padding: 0 $navbar-item-padding-x;

	&:hover { background: pink; }
}

.navbar-item span, 
.navbar-item a.btn {
	margin: 0 $navbar-item-padding-x;
}


.navbar-dropdown {
	position: relative;

	&:hover .navbar-dropdown-toogle { background: pink; }

	.navbar-dropdown-toogle {
		display: inline-block;
		line-height: $navbar-height;
		height: 100%;
		white-space: nowrap;
		background: transparent;
		color: blue;
		padding: 0 $navbar-item-padding-x;

		&:hover { background: pink; }
	}

	.navbar-dropdown-menu {
		display: none;
		position: absolute;
		list-style: none;
		margin: 0;
		padding: 10px 0px;
		background: $navbar-dropdown-menu-background-color;

		&.navbar-dropdown-menu-right { right: 0; }

		&.open { display: block; }
	}

	.navbar-dropdown-item {
		background: transparent;
		margin: 0;
		padding: $navbar-dropdown-item-padding-y $navbar-dropdown-item-padding-x;
		white-space: nowrap;

		a { display: block; }

		&:hover {
			background: red;
		}
	}
}

.navbar-burger {

	// https://codepen.io/vineethtr/pen/VYRzaV/

	height: $navbar-burger-height;
	width: $navbar-burger-width;
	position: relative;
	margin: 0;
	padding-top: ($navbar-burger-height - (($navbar-burger-bar-height * 3) + ($navbar-burger-bar-margin * 2))) / 2;
	transition: all .3s;
	cursor: pointer;	

	.navbar-burger-bar {
		position: relative;
		height: $navbar-burger-bar-height;
		width: 100%;
		display: block;
		margin-bottom: $navbar-burger-bar-margin;
		background-color: $navbar-burger-bar-color;
		border-radius: 10px;
		transition: all .3s;	
	}

	&.open {

		.navbar-burger-bar {
			&:nth-of-type(1){ transform: translateY($navbar-burger-bar-height + $navbar-burger-bar-margin) rotate(45deg); }
			&:nth-of-type(2){ opacity: 0; }
			&:nth-of-type(3){ transform: translateY(-$navbar-burger-bar-height - $navbar-burger-bar-margin) rotate(-45deg); }
		}	  
	}
}

