@import '~swiper/css/swiper.min.css';


.swiper-container {
	width: 100%;
	height: 400px;
	border: 1px solid $color-light;
}

.swiper-slide {
	// center text
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-coverflow .swiper-slide {
    width: 400px;
    height: 400px;
}



.swiper-pagination-bullet { background-color: $color-gray; }
.swiper-pagination-bullet-active { background-color: $color-midtone; }

.swiper-button-next,
.swiper-button-prev { color: $color-gray; }

.swiper-button-next::after,
.swiper-button-prev::after {
	color: $color-gray;
	font-size: 30px;
}