
{% extends "../layouts/default.njk" %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 mb-md">
			<a href="" class="btn btn-kaka">Primary</a>
			<a href="" class="btn btn-primary">Primary</a>
			<a href="" class="btn btn-secondary">Secondary</a>
			<a href="" class="btn btn-link">link</a>
		</div>
		<div class="col-md-12 mb-md">
			<a href="" class="btn btn-outlined">Botón A</a>
			<button class="btn">Botón Button</button>
		</div>
		<div class="col-md-12 mb-md">
			<a href="" class="btn btn-primary btn-lg">Botón LG</a>
			<a href="" class="btn btn-md">Botón MD</a>
			<a href="" class="btn">Botón Normal</a>
			<button class="btn btn-sm">Botón SM</button>
		</div>
		<div class="col-md-12 mb-md">
			<a href="" class="btn btn-danger btn-outlined active">Danger</a>
			<a href="" class="btn btn-warning btn-outlined">Warning</a>
			<a href="" class="btn btn-success">Success</a>
			<a href="" class="btn btn-info btn-outlined btn-rounded btn-lg">Info</a>
		</div>
		<div class="col-md-12 mb-md">
			<button href="" class="btn" disabled>Botón disabled</button>
			<a class="btn disabled">Botón class disabled</a>
		</div>		
		<div class="col-md-3 mb-md">
			<a href="" class="btn btn-block mb-sm">Botón block adasdsadsad</a>
			<a class="btn btn-xs-block">Botón block xs asdsadsad dsad asd</a>
		</div>		
		<div class="col-md-12 mb-md">
			<a href="" class="btn btn-rounded">Botón rounded</a>
			<a class="btn btn-outlined">Botón outlined</a>
		</div>		
	</div>
</div>

{% endblock %}