
{% extends "layouts/default.njk" %}

{% block content %}

	<h1>Carousel</h1>


	<h3>Carousel</h3>

	<div class="swiper-container swiper-carosusel">
		<div class="swiper-wrapper">
			<div class="swiper-slide bg-bright"><h4 class="m-none">Slider 1</h4></div>
			<div class="swiper-slide bg-light"><h4 class="m-none">Slider 2</h4></div>
			<div class="swiper-slide bg-bright"><h4 class="m-none">Slider 3</h4></div>
			<div class="swiper-slide bg-light"><h4 class="m-none">Slider 4</h4></div>
			<div class="swiper-slide bg-bright"><h4 class="m-none">Slider 5</h4></div>
			<div class="swiper-slide bg-bright"><h4 class="m-none">Slider 6</h4></div>
		</div>		
		<div class="swiper-pagination"></div>
		<div class="swiper-button-next"></div>
		<div class="swiper-button-prev"></div>		
	</div>


	<h3>Carousel breakpoints</h3>

	<div class="swiper-container swiper-carosusel-breakpoints">
		<div class="swiper-wrapper">
			<div class="swiper-slide bg-bright"><h4 class="m-none">Slider 1</h4></div>
			<div class="swiper-slide bg-light"><h4 class="m-none">Slider 2</h4></div>
			<div class="swiper-slide bg-bright"><h4 class="m-none">Slider 3</h4></div>
			<div class="swiper-slide bg-light"><h4 class="m-none">Slider 4</h4></div>
			<div class="swiper-slide bg-bright"><h4 class="m-none">Slider 5</h4></div>
			<div class="swiper-slide bg-bright"><h4 class="m-none">Slider 6</h4></div>
		</div>		
		<div class="swiper-pagination"></div>
		<div class="swiper-button-next"></div>
		<div class="swiper-button-prev"></div>		
	</div>


	<h3>Carousel freemode</h3>

	<div class="swiper-container swiper-fade">
		<div class="swiper-wrapper">
			<div class="swiper-slide bg-bright"><h4 class="m-none">Slider 1</h4></div>
			<div class="swiper-slide bg-light"><h4 class="m-none">Slider 2</h4></div>
			<div class="swiper-slide bg-bright"><h4 class="m-none">Slider 3</h4></div>
			<div class="swiper-slide bg-light"><h4 class="m-none">Slider 4</h4></div>
			<div class="swiper-slide bg-bright"><h4 class="m-none">Slider 5</h4></div>
			<div class="swiper-slide bg-bright"><h4 class="m-none">Slider 6</h4></div>
		</div>
		<div class="swiper-pagination"></div>
	</div>



	<h3>Carousel coverflow</h3>

	<div class="swiper-container swiper-coverflow">
		<div class="swiper-wrapper">
			<div class="swiper-slide bg-bright"><h4 class="m-none">Slider 1</h4></div>
			<div class="swiper-slide bg-light"><h4 class="m-none">Slider 2</h4></div>
			<div class="swiper-slide bg-bright"><h4 class="m-none">Slider 3</h4></div>
			<div class="swiper-slide bg-light"><h4 class="m-none">Slider 4</h4></div>
			<div class="swiper-slide bg-bright"><h4 class="m-none">Slider 5</h4></div>
			<div class="swiper-slide bg-bright"><h4 class="m-none">Slider 6</h4></div>
		</div>
		<div class="swiper-pagination"></div>
	</div>


	<script>
		document.addEventListener("DOMContentLoaded", function() {


			var mySwiper = Slider('.swiper-carosusel', {
				slidesPerView: 3,
				spaceBetween: 30,
				centeredSlides: true,
				pagination: {
					el: '.swiper-pagination',
					clickable: true,
				},		
				navigation: {
					nextEl: '.swiper-button-next',
					prevEl: '.swiper-button-prev',
				},						
			});

			var mySwiper = Slider('.swiper-carosusel-breakpoints', {
				slidesPerView: 2,
				spaceBetween: 15,
				centeredSlides: true,
				pagination: {
					el: '.swiper-pagination',
					clickable: true,
				},		
				navigation: {
					nextEl: '.swiper-button-next',
					prevEl: '.swiper-button-prev',
				},	
				breakpoints: {
					640: {
						slidesPerView: 2,
						spaceBetween: 10,
					},
					768: {
						slidesPerView: 3,
						spaceBetween: 20,
					},
					1024: {
						slidesPerView: 4,
						spaceBetween: 30,
					},
				}						
			});

			var mySwiper = Slider('.swiper-fade', {
				slidesPerView: 3,
				spaceBetween: 30,
				centeredSlides: true,
				freeMode: true,
				pagination: {
					el: '.swiper-pagination',
					clickable: true,
				},			
			});

			var mySwiper = Slider('.swiper-coverflow', {
				effect: 'coverflow',
				grabCursor: true,
				centeredSlides: true,
				slidesPerView: 'auto',
				coverflowEffect: {
					rotate: 50,
					stretch: 0,
					depth: 100,
					modifier: 1,
					slideShadows : false,
				},
				pagination: {
					el: '.swiper-pagination',
				},			
			});			


			
		});
	</script>	


{% endblock %}