{% extends "../layouts/default.njk" %}

{% block content %}

{% markdown %}

# Checks, Radio y Switch

Estilos básicos para elementos `checkbox` y `radio`

### Checks

El `id` del `input` debe coincidir con el atributo `for` del `label` para que funcione.

<div class="demo">
	<div class="row">
		<div class="col-md-6">
			<div class="form-check">
				<input type="checkbox" name="demo-check" id="demo-check">
				<label for="demo-check">Demo checkbox</label>
			</div>
		</div>
	</div>
</div>

```html

		<div class="form-check">
			<input type="checkbox" name="demo-check" id="demo-check">
			<label for="demo-check">Demo checkbox</label>
		</div>

```

#### Disabled check

Estilo personalizado para los `checkbox` cuando usan el atributo `disabled`. En este caso, no podemos aplicar la clase
`disabled`.

<div class="demo">
	<div class="row">
		<div class="col-md-6">
			<div class="form-check">
				<input type="checkbox" name="demo-check-disabled" id="demo-check-disabled" disabled>
				<label for="demo-check-disabled">Demo disabled checkbox</label>
			</div>
		</div>
	</div>
</div>

```html

		<div class="form-check">
			<input type="checkbox" name="demo-check-disabled" id="demo-check-disabled" disabled>
			<label for="demo-check-disabled">Demo disabled checkbox</label>
		</div>

```

#### Tamaños check

El tamaño es modificable usando las clases `form-sm` o `form-size-sm`, `form-md` o `form-size-md` y
`form-lg` o `form-size-lg`.

<div class="demo">
	<div class="row">
		<div class="col-md-6">
			<div class="form-check form-sm">
				<input type="checkbox" name="demo-sm-check" id="demo-sm-check" required>
				<label for="demo-sm-check">Demo sm checkbox</label>
			</div>
		</div>
	</div>
</div>

<div class="demo">
	<div class="row">
		<div class="col-md-6">
			<div class="form-check form-md">
				<input type="checkbox" name="demo-md-check" id="demo-md-check" required>
				<label for="demo-md-check">Demo md checkbox</label>
			</div>
		</div>
	</div>
</div>

<div class="demo">
	<div class="row">
		<div class="col-md-6">
			<div class="form-check form-lg">
				<input type="checkbox" name="demo-lg-check" id="demo-lg-check" required>
				<label for="demo-lg-check">Demo lg checkbox</label>
			</div>
		</div>
	</div>
</div>

```html

		<div class="form-check form-sm">
			<input type="checkbox" name="demo-sm-check" id="demo-sm-check" required>
			<label for="demo-sm-check">Demo sm checkbox</label>
		</div>

		<div class="form-check form-md">
			<input type="checkbox" name="demo-md-check" id="demo-md-check" required>
			<label for="demo-md-check">Demo md checkbox</label>
		</div>

		<div class="form-check form-lg">
			<input type="checkbox" name="demo-lg-check" id="demo-lg-check" required>
			<label for="demo-lg-check">Demo lg checkbox</label>
		</div>

```

#### Checked checkbox

Podemos aplicar el atributo `checked` para que el `check` salga marcado por defecto.

<div class="demo">
	<div class="row">
		<div class="col-md-6">
			<div class="form-check">
				<input type="checkbox" name="demo-check" id="demo-check-checked" checked>
				<label for="demo-check-checked">Demo check checked</label>
			</div>
		</div>
	</div>
</div>

```html

		<div class="form-check">
			<input type="checkbox" name="demo-check" id="demo-check-checked" checked>
			<label for="demo-check-checked">Demo check checked</label>
		</div>

```

### Radio

Al igual que con el `check`, el `id` del input y el `for` del `label` deben coincidir.

<div class="demo">
	<div class="row">
		<div class="col-md-6">
			<div class="form-radio">
				<input type="radio" name="demo-radio" id="demo-radio">
				<label for="demo-radio">Demo radio</label>
			</div>
		</div>
	</div>
</div>

```html

		<div class="form-radio">
			<input type="radio" name="demo-radio" id="demo-radio">
			<label for="demo-radio">Demo radio</label>
		</div>

```

#### Disabled radio

Mismo procedimiento que con los `checkbox`.

<div class="demo">
	<div class="row">
		<div class="col-md-6">
			<div class="form-radio">
				<input type="radio" name="demo-radio" id="demo-radio-disabled" disabled>
				<label for="demo-radio-disabled">Demo disabled radio</label>
			</div>
		</div>
	</div>
</div>

```html

		<div class="form-radio">
			<input type="radio" name="demo-radio" id="demo-radio-disabled" disabled>
			<label for="demo-radio-disabled">Demo disabled radio</label>
		</div>

```

#### Tamaños radio

El tamaño es modificable usando las clases `form-sm` o `form-size-sm`, `form-md` o `form-size-md` y
`form-lg` o `form-size-lg`.

<div class="demo">
	<div class="row">
		<div class="col-md-6">
			<div class="form-radio form-sm">
				<input type="radio" name="demo-radio" id="demo-sm-radio">
				<label for="demo-sm-radio">Demo sm radio</label>
			</div>
		</div>
	</div>
</div>

<div class="demo">
	<div class="row">
		<div class="col-md-6">
			<div class="form-radio form-md">
				<input type="radio" name="demo-radio" id="demo-md-radio">
				<label for="demo-md-radio">Demo md radio</label>
			</div>
		</div>
	</div>
</div>

<div class="demo">
	<div class="row">
		<div class="col-md-6">
			<div class="form-radio form-lg">
				<input type="radio" name="demo-radio" id="demo-lg-radio">
				<label for="demo-lg-radio">Demo lg radio</label>
			</div>
		</div>
	</div>
</div>

```html

		<div class="form-radio form-sm">
			<input type="radio" name="demo-radio" id="demo-sm-radio">
			<label for="demo-sm-radio">Demo sm radio</label>
		</div>

		<div class="form-radio form-md">
			<input type="radio" name="demo-radio" id="demo-md-radio">
			<label for="demo-md-radio">Demo md radio</label>
		</div>

		<div class="form-radio form-lg">
			<input type="radio" name="demo-radio" id="demo-lg-radio">
			<label for="demo-lg-radio">Demo lg radio</label>
		</div>

```

#### Checked radio

Podemos aplicar el atributo `checked` para que el `check` salga marcado por defecto.

<div class="demo">
	<div class="row">
		<div class="col-md-6">
			<div class="form-radio">
				<input type="radio" name="demo-radio" id="demo-radio-checked" checked>
				<label for="demo-radio-checked">Demo checked radio</label>
			</div>
		</div>
	</div>
</div>

```html

		<div class="form-radio">
			<input type="radio" name="demo-radio" id="demo-radio-checked" checked>
			<label for="demo-radio-checked">Demo checked radio</label>
		</div>

```

### Switch

Un `checkbox` que mediante la clase `form-switch` cambia su estilo.

<div class="demo">
	<div class="row">
		<div class="col-md-6">
			<div class="form-switch">
				<input type="checkbox" name="demo-switch" id="demo-switch">
				<label for="demo-switch">Demo switch</label>
			</div>
		</div>
	</div>
</div>

```html

		<div class="form-switch">
			<input type="checkbox" name="demo-switch" id="demo-switch">
			<label for="demo-switch">Demo switch</label>
		</div>

```

#### Disabled switch

También, se le puede aplicar el atributo `disabled` al `input`.

<div class="demo">
	<div class="row">
		<div class="col-md-6">
			<div class="form-switch">
				<input type="checkbox" name="demo-switch-disabled" id="demo-switch-disabled" disabled>
				<label for="demo-switch-disabled">Demo disabled switch</label>
			</div>
		</div>
	</div>
</div>

```html

		<div class="form-switch">
			<input type="checkbox" name="demo-switch-disabled" id="demo-switch-disabled" disabled>
			<label for="demo-switch-disabled">Demo disabled switch</label>
		</div>

```

#### Tamaños switch

El tamaño es modificable usando las clases `form-sm` o `form-size-sm`, `form-md` o `form-size-md` y
`form-lg` o `form-size-lg`.

<div class="demo">
	<div class="row">
		<div class="col-md-6">
			<div class="form-switch form-sm">
				<input type="checkbox" name="demo-sm-switch" id="demo-sm-switch">
				<label for="demo-sm-switch">Demo sm switch</label>
			</div>
		</div>
	</div>
</div>

<div class="demo">
	<div class="row">
		<div class="col-md-6">
			<div class="form-switch form-md">
				<input type="checkbox" name="demo-md-switch" id="demo-md-switch">
				<label for="demo-md-switch">Demo md switch</label>
			</div>
		</div>
	</div>
</div>

<div class="demo">
	<div class="row">
		<div class="col-md-6">
			<div class="form-switch form-lg">
				<input type="checkbox" name="demo-lg-switch" id="demo-lg-switch">
				<label for="demo-lg-switch">Demo lg switch</label>
			</div>
		</div>
	</div>
</div>

```html

		<div class="form-switch form-sm">
			<input type="checkbox" name="demo-sm-switch" id="demo-sm-switch">
			<label for="demo-sm-switch">Demo sm switch</label>
		</div>

		<div class="form-switch form-md">
			<input type="checkbox" name="demo-md-switch" id="demo-md-switch">
			<label for="demo-md-switch">Demo md switch</label>
		</div>

		<div class="form-switch form-lg">
			<input type="checkbox" name="demo-lg-switch" id="demo-lg-switch">
			<label for="demo-lg-switch">Demo lg switch</label>
		</div>

```

#### Checked switch

Podemos aplicar el atributo `checked` para que el `check` salga marcado por defecto.

<div class="demo">
	<div class="row">
		<div class="col-md-6">
			<div class="form-switch">
				<input type="checkbox" name="demo-switch-checked" id="demo-switch-checked" checked>
				<label for="demo-switch-checked">Demo checked switch</label>
			</div>
		</div>
	</div>
</div>

```html

		<div class="form-switch">
			<input type="checkbox" name="demo-switch-checked" id="demo-switch-checked" checked>
			<label for="demo-switch-checked">Demo checked switch</label>
		</div>

```

{% endmarkdown %}

{% endblock %}