{% extends "../layouts/default.njk" %}


{% block content %}

{% markdown %}


<div class="row">
	<div class="col-md-12"><h3 class="mt-xl">Checks</h3></div>
	<div class="col-md-12">
		<div class="row">
		<div class="col-md-6">
			<div class="form-input form-md">
				<label for="test">Demo input</label>
				<input type="text" id="test" placeholder="Escribe aquí un texto...">
				<!-- <small>Texto ayuda para el usuario</small> -->
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-check form-md form-check-auto-align">
				<input type="checkbox" name="demo-check5" id="demo-check5" checked>
				<label for="demo-check5">Demo normal <a href="http://www.google.es" target="_blank">checkbox</a></label>
			</div>
		</div>
		</div>
		<div class="form-check form-sm">
			<input type="checkbox" name="demo-check1" id="demo-check1" required>
			<label for="demo-check1">Demo normal checkbox</label>
		</div>
		<div class="form-check">
			<input type="checkbox" name="demo-check2" id="demo-check2" required>
			<label for="demo-check2">Demo normal checkbox</label>
		</div>
		<div class="form-check form-md">
			<input type="checkbox" name="demo-check3" id="demo-check3" required>
			<label for="demo-check3">Demo normal checkbox</label>
		</div>
		<div class="form-check form-lg">
			<input type="checkbox" name="demo-check4" id="demo-check4" required>
			<label for="demo-check4">Demo normal checkbox</label>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-input form-sm">
			<label for="test">Demo input</label>
			<input type="text" id="test" placeholder="Escribe aquí un texto...">
			<!-- <small>Texto ayuda para el usuario</small> -->
		</div>
		<div class="form-check">
			<input type="checkbox" name="demo-check5" id="demo-check5" checked>
			<label for="demo-check5">Demo normal <a href="http://www.google.es" target="_blank">checkbox</a></label>
		</div>
		<div class="form-check">
			<input type="checkbox" name="demo-check-disabled" id="demo-check-disabled" disabled>
			<label for="demo-check-disabled">Demo disabled checkbox</label>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12"><h3 class="mt-xl">Radio</h3></div>
	<div class="col-md-6">
		<div class="form-radio form-sm">
			<input type="radio" name="demo-radio" id="demo-radio-1">
			<label for="demo-radio-1">Demo normal radio</label>
		</div>
		<div class="form-radio">
			<input type="radio" name="demo-radio" id="demo-radio-2">
			<label for="demo-radio-2">Demo normal radio</label>
		</div>
		<div class="form-radio form-md">
			<input type="radio" name="demo-radio" id="demo-radio-3">
			<label for="demo-radio-3">Demo normal radio</label>
		</div>
		<div class="form-radio form-lg">
			<input type="radio" name="demo-radio" id="demo-radio-4">
			<label for="demo-radio-4">Demo normal radio</label>
		</div>
		<div class="form-radio">
			<input type="radio" name="demo-radio" id="demo-radio-disabled" disabled>
			<label for="demo-radio-disabled">Demo disabled radio</label>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-radio form-sm">
			<input type="radio" name="demo-radio-size" id="demo-radio-sm">
			<label for="demo-radio-sm">Demo normal radio</label>
		</div>
		<div class="form-radio form-lg">
			<input type="radio" name="demo-radio-size" id="demo-radio-lg">
			<label for="demo-radio-lg">Demo disabled radio</label>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12"><h3 class="mt-xl">Switch</h3></div>
	<div class="col-md-6">
		<div class="form-switch">
			<input type="checkbox" name="demo-switch" id="demo-switch" >
			<label for="demo-switch">Demo normal switch</label>
		</div>
		<div class="form-switch">
			<input type="checkbox" name="demo-switch-checked" id="demo-switch-checked" checked>
			<label for="demo-switch-checked">Demo disabled switch</label>
		</div>
		<div class="form-switch">
			<input type="checkbox" name="demo-switch-disabled" id="demo-switch-disabled" disabled>
			<label for="demo-switch-disabled">Demo disabled switch</label>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-switch form-sm">
			<input type="checkbox" name="demo-switch-sm" id="demo-switch-sm">
			<label for="demo-switch-sm">Demo normal switch</label>
		</div>
		<div class="form-switch">
			<input type="checkbox" name="demo-switch-1" id="demo-switch-1">
			<label for="demo-switch-1">Demo disabled switch</label>
		</div>
		<div class="form-switch form-md">
			<input type="checkbox" name="demo-switch-md" id="demo-switch-md">
			<label for="demo-switch-md">Demo disabled switch</label>
		</div>
		<div class="form-switch  form-lg">
			<input type="checkbox" name="demo-switch-lg" id="demo-switch-lg">
			<label for="demo-switch-lg">Demo disabled switch</label>
		</div>
	</div>
</div>

{% endmarkdown %}

{% endblock %}

