
{% extends "layouts/default.njk" %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-12">


			<h1>Colors</h1>


			<h2>Color primario</h2>

			<div class="row">
				<div class="col-xs-4 col-sm-3 col-md-2">
					<div class="base-color">
						<div class="base-color-square bg-primary-dk"></div>
						<div class="base-color-text">primary-dk</div>
					</div>
				</div>
				<div class="col-xs-4 col-sm-3 col-md-2">
					<div class="base-color">
						<div class="base-color-square bg-primary-md"></div>
						<div class="base-color-text">primary-md</div>
					</div>
				</div>
				<div class="col-xs-4 col-sm-3 col-md-2">
					<div class="base-color">
						<div class="base-color-square bg-primary"></div>
						<div class="base-color-text">primary</div>
					</div>
				</div>
				<div class="col-xs-4 col-sm-3 col-md-2">
					<div class="base-color">
						<div class="base-color-square bg-primary-lt"></div>
						<div class="base-color-text">primary-lt</div>
					</div>
				</div>
				<div class="col-xs-4 col-sm-3 col-md-2">
					<div class="base-color">
						<div class="base-color-square bg-primary-br"></div>
						<div class="base-color-text">primary-br</div>
					</div>
				</div>
			</div>

			<h2>Color secundario</h2>

			<div class="row">
				<div class="col-xs-4 col-sm-3 col-md-2">
					<div class="base-color">
						<div class="base-color-square bg-secondary-dk"></div>
						<div class="base-color-text">secondary-dk</div>
					</div>
				</div>
				<div class="col-xs-4 col-sm-3 col-md-2">
					<div class="base-color">
						<div class="base-color-square bg-secondary-md"></div>
						<div class="base-color-text">secondary-md</div>
					</div>
				</div>
				<div class="col-xs-4 col-sm-3 col-md-2">
					<div class="base-color">
						<div class="base-color-square bg-secondary"></div>
						<div class="base-color-text">secondary</div>
					</div>
				</div>
				<div class="col-xs-4 col-sm-3 col-md-2">
					<div class="base-color">
						<div class="base-color-square bg-secondary-lt"></div>
						<div class="base-color-text">secondary-lt</div>
					</div>
				</div>
				<div class="col-xs-4 col-sm-3 col-md-2">
					<div class="base-color">
						<div class="base-color-square bg-secondary-br"></div>
						<div class="base-color-text">secondary-br</div>
					</div>
				</div>
			</div>


		</div>
	</div>
</div>






{% endblock %}