
{% extends "layouts/default.njk" %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-12">


			<h1>Colors</h1>
			
			<ul>
				<li>Color primario</li>
				<li>Color secundario</li>
				<li>Colores personalizados</li>
				<li>Colores de sistema</li>
				<li>Escala de grises</li>
				<li>Clases de ayuda</li>
			</ul>


			<h3 class="mt-xl">Color primario</h3>

			<div class="row">
				<div class="col-xs-6 col-sm-4 col-md-3">
					<div class="color-sample">
						<div class="color-sample-block bg-primary-dk"></div>
						<div class="color-sample-text">primary-dk</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4 col-md-3">
					<div class="color-sample">
						<div class="color-sample-block bg-primary-md"></div>
						<div class="color-sample-text">primary-md</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4 col-md-3">
					<div class="color-sample">
						<div class="color-sample-block bg-primary"></div>
						<div class="color-sample-text">primary</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4 col-md-3">
					<div class="color-sample">
						<div class="color-sample-block bg-primary-lt"></div>
						<div class="color-sample-text">primary-lt</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4 col-md-3">
					<div class="color-sample">
						<div class="color-sample-block bg-primary-br"></div>
						<div class="color-sample-text">primary-br</div>
					</div>
				</div>
			</div>

			<h3 class="mt-xl">Color secundario</h3>

			<div class="row">
				<div class="col-xs-6 col-sm-4 col-md-3">
					<div class="color-sample">
						<div class="color-sample-block bg-secondary-dk"></div>
						<div class="color-sample-text">secondary-dk</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4 col-md-3">
					<div class="color-sample">
						<div class="color-sample-block bg-secondary-md"></div>
						<div class="color-sample-text">secondary-md</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4 col-md-3">
					<div class="color-sample">
						<div class="color-sample-block bg-secondary"></div>
						<div class="color-sample-text">secondary</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4 col-md-3">
					<div class="color-sample">
						<div class="color-sample-block bg-secondary-lt"></div>
						<div class="color-sample-text">secondary-lt</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4 col-md-3">
					<div class="color-sample">
						<div class="color-sample-block bg-secondary-br"></div>
						<div class="color-sample-text">secondary-br</div>
					</div>
				</div>
			</div>

			<h3 class="mt-xl">Colores personalizados</h3>

			<div class="row">
				<div class="col-xs-6 col-sm-4 col-md-3">
					<div class="color-sample">
						<div class="color-sample-block bg-custom-1"></div>
						<div class="color-sample-text">custom-1</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4 col-md-3">
					<div class="color-sample">
						<div class="color-sample-block bg-custom-2"></div>
						<div class="color-sample-text">custom-2</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4 col-md-3">
					<div class="color-sample">
						<div class="color-sample-block bg-custom-3"></div>
						<div class="color-sample-text">custom-3</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4 col-md-3">
					<div class="color-sample">
						<div class="color-sample-block bg-custom-4"></div>
						<div class="color-sample-text">custom-4</div>
					</div>
				</div>
			</div>

			<h3 class="mt-xl">Colores de sistema</h3>

			<div class="row">
				<div class="col-xs-6 col-sm-4 col-md-3">
					<div class="color-sample">
						<div class="color-sample-block bg-success"></div>
						<div class="color-sample-text">success</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4 col-md-3">
					<div class="color-sample">
						<div class="color-sample-block bg-warning"></div>
						<div class="color-sample-text">warning</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4 col-md-3">
					<div class="color-sample">
						<div class="color-sample-block bg-danger"></div>
						<div class="color-sample-text">danger</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4 col-md-3">
					<div class="color-sample">
						<div class="color-sample-block bg-info"></div>
						<div class="color-sample-text">info</div>
					</div>
				</div>
			</div>

			<h3 class="mt-xl">Escala de grises</h3>

			<div class="row">
				<div class="col-xs-6 col-sm-4 col-md-3">
					<div class="color-sample">
						<div class="color-sample-block bg-black"></div>
						<div class="color-sample-text">black</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4 col-md-3">
					<div class="color-sample">
						<div class="color-sample-block bg-dark"></div>
						<div class="color-sample-text">dark</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4 col-md-3">
					<div class="color-sample">
						<div class="color-sample-block bg-midtone"></div>
						<div class="color-sample-text">midtone</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4 col-md-3">
					<div class="color-sample">
						<div class="color-sample-block bg-gray"></div>
						<div class="color-sample-text">gray</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4 col-md-3">
					<div class="color-sample">
						<div class="color-sample-block bg-light"></div>
						<div class="color-sample-text">light</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4 col-md-3">
					<div class="color-sample">
						<div class="color-sample-block bg-bright"></div>
						<div class="color-sample-text">bright</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4 col-md-3">
					<div class="color-sample">
						<div class="color-sample-block bg-white"></div>
						<div class="color-sample-text">white</div>
					</div>
				</div>
			</div>


		</div>
	</div>
</div>






{% endblock %}