
{% extends "layouts/default.njk" %}

{% block content %}

<div class="content-fluid">
	<div class="row">
		<div class="col-md-12">

<pre class="prettyprint">
<code class="language-html">
&lt;!DOCTYPE html>
	&lt;html lang="en">
		&lt;head>
		&lt;title>Document&lt;/title>
		&lt;meta charset="UTF-8">	
		&lt;meta name="viewport" content="width=device-width, initial-scale=1.0">	
		&lt;meta http-equiv="X-UA-Compatible" content="ie=edge">	
</code>
</pre>

		</div>
	</div>
</div>
{% endblock %}