
{% extends "../layouts/default.njk" %}

{% block content %}

{% markdown %}

Dropdown
======

Crea un elemento interactivo que muestra un menú, una lista de enlaces...

Para empezar, necesitamos un contenedor que contenga la clase `dropdown`.

```html
		<div class="dropdown">
			...
		</div>
```

Una vez tenemos nuestro contenedor creado, debemos añadir un elemento con la clase `dropdown-toggle`. Este elemento
provocará que al hacer click en él se despliegue el menú.

Para ello, necesitamos crear otro contenedor dentro de `dropdown` que contenga la clase `dropdown-menu`.

En este caso, nuestro elemento `dropdown-menu` será una lista.

```html
		<div class="dropdown">
			<a class="dropdown-toggle"></a>
			<ul class="dropdown-menu">
				...
			</ul>
		</div>
```

Una vez creado, todo los elementos que añadamos dentro del `dropdown-menu` deberán llevar la clase `dropdown-item`.

<div class="demo">
	<div class="dropdown">
		<a class="btn btn-primary dropdown-toggle">.dropdown-toggle</a>
		<ul class="dropdown-menu">
			<li class="dropdown-item"><a href="">.dropdown-item</a></li>
			<li class="dropdown-item"><a href="">.dropdown-item</a></li>
			<li class="dropdown-item"><a href="">.dropdown-item</a></li>
		</ul>
	</div>
</div>

```html
		<div class="dropdown">
			<a class="btn btn-primary dropdown-toggle">.dropdown-toggle</a>
			<ul class="dropdown-menu">
				<li class="dropdown-item"><a href="">.dropdown-item</a></li>
				<li class="dropdown-item"><a href="">.dropdown-item</a></li>
				<li class="dropdown-item"><a href="">.dropdown-item</a></li>
			</ul>
		</div>
```

### Dropdown-divider

Dentro de `dropdown-menu`, podemos añadir una línea divisoria usando la clase `dropdown-divider`.

<div class="demo">
	<div class="dropdown">
		<a class="btn btn-primary dropdown-toggle">.dropdown-toggle</a>
		<ul class="dropdown-menu">
			<li class="dropdown-item"><a href="">.dropdown-item</a></li>
			<li class="dropdown-item"><a href="">.dropdown-item</a></li>
			<li class="dropdown-item"><a href="">.dropdown-item</a></li>
			<li class="dropdown-divider"></li>
			<li class="dropdown-item"><a href="">.dropdown-item</a></li>
			<li class="dropdown-item"><a href="">.dropdown-item</a></li>
		</ul>
	</div>
</div>

```html
		<div class="dropdown">
			<a class="btn btn-primary dropdown-toggle">.dropdown-toggle</a>
			<ul class="dropdown-menu">
				<li class="dropdown-item"><a href="">.dropdown-item</a></li>
				<li class="dropdown-item"><a href="">.dropdown-item</a></li>
				<li class="dropdown-item"><a href="">.dropdown-item</a></li>
				<li class="dropdown-divider"></li>
				<li class="dropdown-item"><a href="">.dropdown-item</a></li>
				<li class="dropdown-item"><a href="">.dropdown-item</a></li>
			</ul>
		</div>
```

### Active

Podemos marcar que el elemento está activo mediante la clase `active`.

<div class="demo">
	<div class="dropdown">
		<a class="btn btn-primary dropdown-toggle">.dropdown-toggle</a>
		<ul class="dropdown-menu">
			<li class="dropdown-item"><a href="">.dropdown-item</a></li>
			<li class="dropdown-item active"><a href="">.dropdown-item .active</a></li>
			<li class="dropdown-item"><a href="">.dropdown-item</a></li>
		</ul>
	</div>
</div>

```html

		<div class="dropdown">
			<a class="btn btn-primary dropdown-toggle">.dropdown-toggle</a>
			<ul class="dropdown-menu">
				<li class="dropdown-item"><a href="">.dropdown-item</a></li>
				<li class="dropdown-item active"><a href="">.dropdown-item .active</a></li>
				<li class="dropdown-item"><a href="">.dropdown-item</a></li>
			</ul>
		</div>

```

### Disabled

Si queremos marcar un elemento como desactivado, usamos `disabled`.

<div class="demo">
	<div class="dropdown">
		<a class="btn btn-primary dropdown-toggle">.dropdown-toggle</a>
		<ul class="dropdown-menu">
			<li class="dropdown-item"><a href="">.dropdown-item</a></li>
			<li class="dropdown-item disabled"><a href="">.dropdown-item .disabled</a></li>
			<li class="dropdown-item"><a href="">.dropdown-item</a></li>
		</ul>
	</div>
</div>

```html
		<div class="dropdown">
			<a class="btn btn-primary dropdown-toggle">.dropdown-toggle</a>
			<ul class="dropdown-menu">
				<li class="dropdown-item"><a href="">.dropdown-item</a></li>
				<li class="dropdown-item disabled"><a href="">.dropdown-item .disabled</a></li>
				<li class="dropdown-item"><a href="">.dropdown-item</a></li>
			</ul>
		</div>
```

### Dropdown-menu posición

Podemos modificar la posición en la que se muestra `dropdown-menu` con las clases `dropdown-menu-left` y
`dropdown-menu-right`, que mostrará el menú por el extremo izquierdo o derecho del contenedor.

<div class="demo">
	<div class="dropdown">
		<div class="text-center">
			<a class="btn btn-primary dropdown-toggle">.dropdown-toggle</a>
		</div>
		<ul class="dropdown-menu dropdown-menu-left">
			<li class="dropdown-item"><a href="">.dropdown-item</a></li>
			<li class="dropdown-item"><a href="">.dropdown-item</a></li>
			<li class="dropdown-item"><a href="">.dropdown-item</a></li>
		</ul>
	</div>
</div>

```html
		<div class="dropdown">
			<a class="btn btn-primary dropdown-toggle">.dropdown-toggle</a>
			<ul class="dropdown-menu dropdown-menu-left">
				<li class="dropdown-item"><a href="">.dropdown-item</a></li>
				<li class="dropdown-item"><a href="">.dropdown-item</a></li>
				<li class="dropdown-item"><a href="">.dropdown-item</a></li>
			</ul>
		</div>
```

<div class="demo">
	<div class="dropdown">
		<div class="text-center">
			<a class="btn btn-primary dropdown-toggle">.dropdown-toggle</a>
		</div>
		<ul class="dropdown-menu dropdown-menu-right">
			<li class="dropdown-item"><a href="">.dropdown-item</a></li>
			<li class="dropdown-item"><a href="">.dropdown-item</a></li>
			<li class="dropdown-item"><a href="">.dropdown-item</a></li>
		</ul>
	</div>
</div>

```html
		<div class="dropdown">
			<a class="btn btn-primary dropdown-toggle">.dropdown-toggle</a>
			<ul class="dropdown-menu dropdown-menu-right">
				<li class="dropdown-item"><a href="">.dropdown-item</a></li>
				<li class="dropdown-item"><a href="">.dropdown-item</a></li>
				<li class="dropdown-item"><a href="">.dropdown-item</a></li>
			</ul>
		</div>
```

{% endmarkdown %}

{% endblock %}