{% extends "../layouts/default.njk" %}


{% block content %}

{% markdown %}

<div class="row">
	<div class="col-md-12"><h3 class="mt-xl">File</h3></div>
	<div class="col-md-6">
			<div class="form-file form-sm">
				<label for="form-file">Selecciona un archivo:</label>
				<input type="file" name="form-file" id="form-file">
				<div class="form-file-placeholder" data-button-label="Seleccionar" data-placeholder="Seleccione un archivo..."></div>
				<small>sdjoasjda osihjdoais dias</small>
			</div>
			<div class="form-file">
				<label for="form-file">Selecciona un archivo:</label>
				<input type="file" name="form-file" id="form-file">
				<div class="form-file-placeholder" data-button-label="Seleccionar" data-placeholder="Seleccione un archivo..."></div>
			</div>
		<div class="form-file form-md">
			<label for="form-file">Selecciona un archivo:</label>
			<input type="file" name="form-file" id="form-file">
			<div class="form-file-placeholder" data-button-label="Seleccionar" data-placeholder="Seleccione un archivo..."></div>
		</div>
		<div class="form-file form-lg">
			<label for="form-file">Selecciona un archivo:</label>
			<input type="file" name="form-file" id="form-file">
			<div class="form-file-placeholder" data-button-label="Seleccionar" data-placeholder="Seleccione un archivo..."></div>
		</div>
	</div>
</div>

<script>
	let inputs = document.querySelectorAll('.form-file')

	inputs.forEach(function(element) {

		let placeholder = element.querySelector('.form-file-placeholder')

		placeholder.innerHTML = placeholder.getAttribute('data-placeholder')

		element.addEventListener('click', function(e) {
			this.querySelector('input').focus()
			this.querySelector('input').click()
		})

		element.querySelector('input').addEventListener('change', function (e) {
			let startIndex = (this.value.indexOf('\\') >= 0 ? this.value.lastIndexOf('\\') : this.value.lastIndexOf('/'));
			let filename = this.value.substring(startIndex);
			if (filename.indexOf('\\') === 0 || filename.indexOf('/') === 0) {
				filename = filename.substring(1);
			}
			if (filename) {
				this.parentElement.querySelector('.form-file-placeholder').innerHTML = filename
				placeholder.classList.add('form-file-placeholder-active')
			} else {
				placeholder.innerHTML = placeholder.getAttribute('data-placeholder')
				placeholder.classList.remove('form-file-placeholder-active')
			}
		})
	})
</script>

{% endmarkdown %}

{% endblock %}

