{% extends "layouts/default.njk" %}


{% block content %}

	<div class="container pb-xxl">
		<div class="row mt-xxl">
			<div class="col-md-12"><h3 class="mt-xl">Inputs</h3></div>
			<div class="col-md-6">
				<div class="form-input">
					<label for="test">Demo input</label>
					<input type="text" id="test" placeholder="Escribe aquí un texto...">
					<small>Texto ayuda para el usuario</small>
				</div>
				<div class="form-input">
					<label for="test">Readonly input</label>
					<input type="text" id="test" value="Lorem ipsum dolor sit amet" readonly>
					<small>Texto ayuda para el usuario</small>
				</div>				
				<div class="form-input">
					<label for="test">Disabled input</label>
					<input type="text" id="test" placeholder="Escribe aquí un texto..." disabled>
					<small>Texto ayuda para el usuario</small>
				</div>
			</div>

			<div class="col-md-6">
				<div class="form-input form-sm">
					<label for="test">Demo input size sm</label>
					<input type="text" id="test" placeholder="Escribe aquí un texto...">
					<small>Texto ayuda para el usuario</small>
				</div>
				<div class="form-input form-lg">
					<label for="test">Demo input size lg</label>
					<input type="text" id="test" placeholder="Escribe aquí un texto...">
					<small>Texto ayuda para el usuario</small>
				</div>
			</div>
		</div>	
		
		<div class="row">
			<div class="col-md-12"><h3 class="mt-xl">Input Groups</h3></div>
			<div class="col-md-6">
				<div class="form-input">
					<label for="test">Demo input-group (input+text)</label>
					<div class="input-group">
						<input type="text" id="test" placeholder="Escribe aquí un texto..." class="">
						<span class="text"><i class="icons-buscar"></i></span>
					</div>
				</div>
				<div class="form-input">
					<label for="test">Demo input-group (text+input)</label>
					<div class="input-group">
						<span class="text"><i class="icons-buscar"></i></span>
						<input type="text" id="test" placeholder="Escribe aquí un texto..." class="">
					</div>
				</div>
				<div class="form-input">
					<label for="test">Demo input-group (input+btn)</label>
					<div class="input-group">
						<input type="text" id="test" placeholder="Escribe aquí un texto..." class="">
						<a href="" class="btn btn-primary1 border-gray">Button</a>
					</div>
				</div>
				<div class="form-input">
					<label for="test">Demo input-group (btn+input)</label>
					<div class="input-group">
						<a href="" class="btn btn-primary1 border-gray">Button</a>
						<input type="text" id="test" placeholder="Escribe aquí un texto..." class="">
					</div>
				</div>
				<div class="form-input">
					<label for="test">Demo input-group (btn+input+text)</label>
					<div class="input-group">
						<a href="" class="btn btn-primary1 border-gray">Button</a>
						<input type="text" id="test" placeholder="Escribe aquí un texto..." class="">
						<span class="text"><i class="icons-buscar"></i></span>
					</div>
				</div>				
				<div class="form-input">
					<label for="test">Demo input-group (btn+text+input)</label>
					<div class="input-group">
						<a href="" class="btn btn-primary1 border-gray">Button</a>
						<span class="text"><i class="icons-buscar"></i></span>
						<input type="text" id="test" placeholder="Escribe aquí un texto..." class="">
					</div>
				</div>				
				<div class="form-input">
					<label for="test">Demo input-group (input+btn+text)</label>
					<div class="input-group">
						<input type="text" id="test" placeholder="Escribe aquí un texto..." class="">
						<a href="" class="btn btn-primary1 border-gray">Button</a>
						<span class="text"><i class="icons-buscar"></i></span>
					</div>
				</div>				
				<div class="form-input">
					<label for="test">Demo input-group (btn+input+btn+text)</label>
					<div class="input-group">
						<a href="" class="btn btn-primary1 border-gray"><i class="icons-buscar"></i> Button</a>
						<input type="text" id="test" placeholder="Escribe aquí un texto..." class="">
						<a href="" class="btn btn-primary1 border-gray">Button</a>
						<span class="text"><i class="icons-buscar"></i></span>
					</div>
				</div>													
			</div>
			<div class="col-md-6">
				<div class="form-input form-sm">
					<label for="test">Demo input-group (btn+input+text)</label>
					<div class="input-group">
						<a href="" class="btn btn-primary1 border-gray">Button</a>
						<input type="text" id="test" placeholder="Escribe aquí un texto..." class="">
						<span class="text"><i class="icons-buscar"></i></span>
					</div>
				</div>					
				<div class="form-input form-lg">
					<label for="test">Demo input-group (btn+input+text)</label>
					<div class="input-group">
						<a href="" class="btn btn-primary1 border-gray">Button</a>
						<input type="text" id="test" placeholder="Escribe aquí un texto..." class="">
						<span class="text"><i class="icons-buscar"></i></span>
					</div>
				</div>			
			</div>
		</div>	

		<div class="row">
			<div class="col-md-12"><h3 class="mt-xl">Select</h3></div>
			<div class="col-md-6">
				<div class="form-select">
					<label for="test">Demo select</label>
					<select name="" id="">
						<option value="">Seleccionar opción...</option>
						<option value="">Seleccionar opción...</option>
						<option value="">Seleccionar opción...</option>
						<option value="">Seleccionar opción...</option>
					</select>
					<small>Texto ayuda para el usuario</small>
				</div>
				<div class="form-select">
					<label for="test">Disabled select </label>
					<select name="" id="" disabled>
						<option value="">Seleccionar opción...</option>
						<option value="">Seleccionar opción...</option>
						<option value="">Seleccionar opción...</option>
						<option value="">Seleccionar opción...</option>
					</select>
					<small>Texto ayuda para el usuario</small>
				</div>
			</div>				
			<div class="col-md-6">
				<div class="form-select form-sm">
					<label for="test">Demo select size sm</label>
					<select name="" id="">
						<option value="">Seleccionar opción...</option>
						<option value="">Seleccionar opción...</option>
						<option value="">Seleccionar opción...</option>
						<option value="">Seleccionar opción...</option>
					</select>
					<small>Texto ayuda para el usuario</small>
				</div>
				<div class="form-select form-lg">
					<label for="test">Demo select size lg</label>
					<select name="" id="">
						<option value="">Seleccionar opción...</option>
						<option value="">Seleccionar opción...</option>
						<option value="">Seleccionar opción...</option>
						<option value="">Seleccionar opción...</option>
					</select>
					<small>Texto ayuda para el usuario</small>
				</div>
			</div>
		</div>	

		<div class="row">
			<div class="col-md-12"><h3 class="mt-xl">Checks</h3></div>
			<div class="col-md-6">
				<div class="form-check">
					<input type="checkbox" name="demo-check" id="demo-check" required>
					<label for="demo-check">Demo normal checkbox</label>
				</div>
				<div class="form-check">
					<input type="checkbox" name="demo-check-disabled" id="demo-check-disabled" disabled>
					<label for="demo-check-disabled">Demo disabled checkbox</label>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-check form-sm">
					<input type="checkbox" name="demo-check-sm" id="demo-check-sm">
					<label for="demo-check-sm">Demo normal checkbox</label>
				</div>
				<div class="form-check form-lg">
					<input type="checkbox" name="demo-check-lg" id="demo-check-lg">
					<label for="demo-check-lg">Demo disabled checkbox</label>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12"><h3 class="mt-xl">Radio</h3></div>
			<div class="col-md-6">
				<div class="form-radio">
					<input type="radio" name="demo-radio" id="demo-radio-1">
					<label for="demo-radio-1">Demo normal radio</label>
				</div>
				<div class="form-radio">
					<input type="radio" name="demo-radio" id="demo-radio-2">
					<label for="demo-radio-2">Demo normal radio</label>
				</div>
				<div class="form-radio">
					<input type="radio" name="demo-radio" id="demo-radio-disabled" disabled>
					<label for="demo-radio-disabled">Demo disabled radio</label>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-radio form-sm">
					<input type="radio" name="demo-radio-size" id="demo-radio-sm">
					<label for="demo-radio-sm">Demo normal radio</label>
				</div>
				<div class="form-radio form-lg">
					<input type="radio" name="demo-radio-size" id="demo-radio-lg">
					<label for="demo-radio-lg">Demo disabled radio</label>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12"><h3 class="mt-xl">Switch</h3></div>
			<div class="col-md-6">
				<div class="form-switch">
					<input type="checkbox" name="demo-switch" id="demo-switch" >
					<label for="demo-switch">Demo normal switch</label>
				</div>
				<div class="form-switch">
					<input type="checkbox" name="demo-switch-disabled" id="demo-switch-disabled" disabled>
					<label for="demo-switch-disabled">Demo disabled switch</label>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-switch form-sm">
					<input type="checkbox" name="demo-switch-sm" id="demo-switch-sm">
					<label for="demo-switch-sm">Demo normal switch</label>
				</div>
				<div class="form-switch form-lg">
					<input type="checkbox" name="demo-switch-lg" id="demo-switch-lg">
					<label for="demo-switch-lg">Demo disabled switch</label>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12"><h3 class="mt-xl">Text Area</h3></div>
			<div class="col-md-6">
				<div class="form-textarea form-size-lg">
					<label for="">Demo textarea</label>
					<textarea name="" id="" rows="5">Contenido textarea</textarea>
					<small>Texto ayuda para el usuario</small>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-textarea form-size-lg">
					<label for="">Disabled textarea</label>
					<textarea name="" id="" rows="5" disabled>Contenido textarea</textarea>
					<small>Texto ayuda para el usuario</small>
				</div>
			</div>
		</div>

		<form action="" class="was-validated">
			<div class="row">
				<div class="col-md-12"><h3 class="mt-xl">Form Validate</h3></div>
				<div class="col-md-6">
					<div class="form-input">
						<label for="test1">Demo input</label>
						<input type="email" id="test1" value="info@existo.es" >
						<span class="valid-feedback">Correcto!!</span>
						<span class="invalid-feedback">Introducir dirección de email</span>
					</div>
					<div class="form-select">
						<label for="test">Demo select</label>
						<select name="" id="" required>
							<option value="">Seleccionar opción...</option>
							<option value="">Seleccionar opción...</option>
							<option value="">Seleccionar opción...</option>
							<option value="">Seleccionar opción...</option>
						</select>
						<span class="valid-feedback">Correcto!!</span>
						<span class="invalid-feedback">Debe elegir una opción</span>
					</div>					
				</div>
				<div class="col-md-6">
					<div class="form-input">
						<label for="test">Demo input-group (btn+input+btn+text)</label>
						<div class="input-group">
							<a href="" class="btn btn-primary1 border-gray"><i class="icons-buscar"></i> Button</a>
							<input type="number" id="test" placeholder="Escribe aquí un texto..." required>
							<a href="" class="btn btn-primary1 border-gray">Button</a>
							<span class="text"><i class="icons-buscar"></i></span>
						</div>
						<span class="valid-feedback">Correcto!!</span>
						<span class="invalid-feedback">Debe introducir un número</span>
					</div>	
					<div class="form-check">
						<input type="checkbox" name="demo-check1" id="demo-check1" required>
						<label for="demo-check1">Demo normal checkbox</label>
						<span class="valid-feedback">Correcto!!</span>
						<span class="invalid-feedback">Debe aceptar el check</span>
					</div>					
				</div>
			</div>
		</form>

		<div class="row">
			<div class="col-md-12"><h3 class="mt-xl">File</h3></div>
			<div class="col-md-6">
				<div class="form-file">
					<label for="form-file">Selecciona un archivo:</label>
					<input type="file" name="form-file" id="form-file">
				</div>
			</div>
		</div>
	</div>



{% endblock %}