
{% extends "../layouts/default.njk" %}

{% block content %}

{% markdown %}

# Grid

Una cuadrícula responsive basada en <a href="https://getbootstrap.com/">Bootstrap</a>.

## Contenedores (.container)

Los elementos `container` son obligatorios si deseamos que nuestra estructura sea responsive.

```html

		<div class="container">
			...
		</div>

```

### Tabla tamaños

Dependiendo de la resolución del dispositivo, `container` tendrá un ancho predeterminado como podemos ver en la tabla a
continuación:

<table class="table-responsive-list table-striped">
	<thead>
		<tr>
			<th>Ancho dispositivo</th>
			<th>Ancho contenedor</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1200px o más (lg)</td>
			<td>1170px</td>
		</tr>
		<tr>
			<td>992px hasta 1199px (md)</td>
			<td>970px</td>
		</tr>
		<tr>
			<td>768px hasta 991px (sm)</td>
			<td>750px</td>
		</tr>
		<tr>
			<td>Menos de 767px (xs)</td>
			<td>100%</td>
		</tr>
	</tbody>
</table>

### Container fluid

Si en lugar de utilizar la clase `container` utilizamos la clase `container-fluid`, lo que conseguiremos no será un
contenedor con un ancho máximo fijado, sino que este ocupará el ancho al 100%.

```html

		<div class="container-fluid">
			...
		</div>

```

### Ver opción de meter clase nuevas BS 4 container-md

Actualmente nos encontramos desarrollando la opción de añadir un contenedor al ancho 100% hasta una resolución
específica, añadiendo así dicha función de <a href="https://getbootstrap.com/docs/4.5/layout/overview/#containers">Bootstrap 4</a>.

### No anidar dos contenedores

Los `container` cuentan con un ancho fijo, por lo tanto no hay necesidad de anidar uno dentro de otro. Debido al
espacio y más, nunca debemos añadir un `container` dentro de otro `container`.

### Variables breakpoints (mixins)

Una serie de media queries basados en el ancho mínimo de cada ventana que nos permite modificar los elementos conforme
la resolución de la ventana cambia.

Estos media queries se pueden modificar en el archivo `variables.scss`.

Dichos media queries son:

```sass

		@media (max-width: 767px) {...}
		@media (min-width: 768px) and (max-width: 992px) {...}
		@media (min-width: 992px) and (max-width: 1200px) {...}
		@media (min-width: 1200px) {...}

```

Estos media queries los usamos a través de los siguientes `mixins`:

```sass

		@include breakpoint(xs) {...}
		@include breakpoint(sm) {...}
		@include breakpoint(md) {...}
		@include breakpoint(lg) {...}

```

También podemos usar los anteriores breakpoints para indicar que parten de dicha resolución hacia delante:

```sass

		@include breakpoint-up(xs) {...}
		@include breakpoint-up(sm) {...}
		@include breakpoint-up(md) {...}
		@include breakpoint-up(lg) {...}

```

Al igual que lo realizamos de una resolución hacia delante, también podemos partir de una resolución hacia atrás:

```sass

		@include breakpoint-down(xs) {...}
		@include breakpoint-down(sm) {...}
		@include breakpoint-down(md) {...}
		@include breakpoint-down(lg) {...}

```

Y por último, entre dos resoluciones:

```sass

		@include breakpoint-between(xs,sm) {...}
		@include breakpoint-between(sm,md) {...}
		@include breakpoint-between(md,lg) {...}

```


### Variables modificar contenedor

El ancho del contenedor puede modificarse fácilmente en cualquier resolución desde el archivo `variables.scss`. Estas
variables se encuentran definidas mediante la semántica `$grid-container-width-#{$breakpoint}`.

```sass

		$grid-container-width-lg: 1140px;
		$grid-container-width-md: 940px;
		$grid-container-width-sm: 720px;
		$grid-container-width-xs: 100%;

```

Aunque el valor final que determina el ancho del contenedor no es ese, sino la suma de su ancho + el espacio fijado
entre columnas.

Este espacio entre columnas se representa mediante la variable `$grid-column-gutter` y `$grid-column-gutter-xs` para
ajustar el tamaño en resoluciones móviles.


```sass

		$grid-column-gutter: 30px;
		$grid-column-gutter-xs: 15px;

```

En resumen, el verdadero ancho de nuestro contenedor, como hemos nombrado anteriormente, sería
`$grid-container-width-#{$breakpoint}` + `grid-column-gutter`.

```sass

		@media (max-width: $media-xs) { max-width: $grid-container-width-xs; }
		@media (min-width: $media-sm) and (max-width: $media-md) { max-width: $grid-container-width-sm + $grid-column-gutter; }
		@media (min-width: $media-md) and (max-width: $media-lg) { max-width: $grid-container-width-md + $grid-column-gutter; }
		@media (min-width: $media-lg) { max-width: $grid-container-width-lg + $grid-column-gutter; }

```

Representando así el ancho del contenedor reflejado en la tabla anterior.

## Filas (.row)

Una vez contamos con nuestro elemento padre `container`, el siguiente paso es añadir un elemento `row`

<div class="demo">
	<div class="container">
		<div class="row">
			<div class="col-4">
				<div>.col-4</div>
			</div>
			<div class="col-4">
				<div>.col-4</div>
			</div>
			<div class="col-4">
				<div>.col-4</div>
			</div>
		</div>
	</div>
</div>


```html

		<div class="container">
			<div class="row">
				<div class="col-4">.col-4</div>
				<div class="col-4">.col-4</div>
				<div class="col-4">.col-4</div>
			</div>
		</div>

```

### Alineación vertical

Podemos alinear verticalmente el contenido de las columnas mediante flexbox.

Para que se alineen partiendo desde arriba, usamos la clase `align-top`:

<div class="demo">
	<div class="container">
		<div class="row align-top">
			<div class="col-4">
				<div>.align-top</div>
			</div>
			<div class="col-4">
				<div>
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde aperiam veniam eveniet exercitationem, cumque
				</div>
			</div>
			<div class="col-4">
				<div>.align-top</div>
			</div>
		</div>
	</div>
</div>

```html

		<div class="container">
			<div class="row align-top">
				<div class="col-4">.align-top</div>
				<div class="col-4">
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde aperiam veniam eveniet exercitationem, cumque
				</div>
				<div class="col-4">.align-top</div>
			</div>
		</div>

```

Para que se alineen al centro, `align-middle`:

<div class="demo">
	<div class="container">
		<div class="row align-middle">
			<div class="col-4">
				<div>.align-middle</div>
			</div>
			<div class="col-4">
				<div>
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde aperiam veniam eveniet exercitationem, cumque
				</div>
			</div>
			<div class="col-4">
				<div>
					.align-middle
				</div>
			</div>
		</div>
	</div>
</div>

```html

		<div class="container">
			<div class="row align-middle">
				<div class="col-4">.align-middle</div>
				<div class="col-4">
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde aperiam veniam eveniet exercitationem, cumque
				</div>
				<div class="col-4">.align-middle</div>
			</div>
		</div>

```

Y por último, para alinearlo partiendo desde abajo, `align-bottom`:

<div class="demo">
	<div class="container">
		<div class="row align-bottom">
			<div class="col-4">
				<div>.align-bottom</div>
			</div>
			<div class="col-4">
				<div>
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde aperiam veniam eveniet exercitationem, cumque
				</div>
			</div>
			<div class="col-4">
				<div>
					.align-bottom
				</div>
			</div>
		</div>
	</div>
</div>

```html

		<div class="container">
			<div class="row align-bottom">
				<div class="col-4">.align-bottom</div>
				<div class="col-4">
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde aperiam veniam eveniet exercitationem, cumque
				</div>
				<div class="col-4">.align-bottom</div>
			</div>
		</div>

```

### Distribución horizontal

Para alinear verticalmente el contenido del `row`, necesitamos que no estén ocupadas las 12 columnas ya que sino
visualmente no veremos cambio alguno aunque esté funcionando.

Para alinearlas a la izquierda, usamos `justify-start`:

<div class="demo">
	<div class="container">
		<div class="row justify-start">
			<div class="col-2">
				<div>.col-2</div>
			</div>
			<div class="col-2">
				<div>.col-2</div>
			</div>
		</div>
	</div>
</div>

```html

		<div class="container">
			<div class="row justify-start">
				<div class="col-2">.col-2</div>
				<div class="col-2">.col-2</div>
			</div>
		</div>

```

Para alinearlas al centro, usamos `justify-center`:

<div class="demo">
	<div class="container">
		<div class="row justify-center">
			<div class="col-2">
				<div>.col-2</div>
			</div>
			<div class="col-2">
				<div>.col-2</div>
			</div>
		</div>
	</div>
</div>

```html

		<div class="container">
			<div class="row justify-center">
				<div class="col-2">.col-2</div>
				<div class="col-2">.col-2</div>
			</div>
		</div>

```

Para alinearlas a la derecha, usamos `justify-end`:

<div class="demo">
	<div class="container">
		<div class="row justify-end">
			<div class="col-2">
				<div>.col-2</div>
			</div>
			<div class="col-2">
				<div>.col-2</div>
			</div>
		</div>
	</div>
</div>

```html

		<div class="container">
			<div class="row justify-end">
				<div class="col-2">.col-2</div>
				<div class="col-2">.col-2</div>
			</div>
		</div>

```

Los elementos se distribuyen uniformemente en la línea con igual espacio a su alrededor usando `justify-arround`:

<div class="demo">
	<div class="container">
		<div class="row justify-arround">
			<div class="col-2">
				<div>.col-2</div>
			</div>
			<div class="col-2">
				<div>.col-2</div>
			</div>
		</div>
	</div>
</div>

```html

		<div class="container">
			<div class="row justify-arround">
				<div class="col-2">.col-2</div>
				<div class="col-2">.col-2</div>
			</div>
		</div>

```

Por último, con `justify-between`, empujaremos cada elemento a los extremos dejando todo el máximo espacio posible
entre ellos:

<div class="demo">
	<div class="container">
		<div class="row justify-between">
			<div class="col-2">
				<div>.col-2</div>
			</div>
			<div class="col-2">
				<div>.col-2</div>
			</div>
		</div>
	</div>
</div>

```html

		<div class="container">
			<div class="row justify-between">
				<div class="col-2">.col-2</div>
				<div class="col-2">.col-2</div>
			</div>
		</div>

```



### No gutters

Para evitar que las columnas tengan espacio entre ellas usamos `no-gutters`.

<div class="demo">
	<div class="container">
		<div class="row no-gutters">
			<div class="col-4">
				<div>.col-4</div>
			</div>
			<div class="col-4">
				<div>.col-4</div>
			</div>
			<div class="col-4">
				<div>.col-4</div>
			</div>
		</div>
	</div>
</div>

```html

		<div class="container">
			<div class="row no-gutters">
				<div class="col-4">.col-4</div>
				<div class="col-4">.col-4</div>
				<div class="col-4">.col-4</div>
			</div>
		</div>

```

### Reverse

A nuestro elemento `row` podemos cambiarle la dirección horizontal que siguen los elementos, es decir, si los elementos
se muestran de izquierda a derecha y queremos que se muestren a la inversa, de derecha a izquierda, podemos usar la
clase `reverse`.

<div class="demo">
	<div class="container">
		<div class="row reverse">
			<div class="col-4">
				<div>Primera col-4</div>
			</div>
			<div class="col-4">
				<div>Segunda col-4</div>
			</div>
			<div class="col-4">
				<div>Tercera col-4</div>
			</div>
		</div>
	</div>
</div>

```html

		<div class="container">
			<div class="row reverse">
				<div class="col-4">Primera col-4</div>
				<div class="col-4">Segunda col-4</div>
				<div class="col-4">Tercera col-4</div>
			</div>
		</div>

```

### No wrap

Para evitar que las columnas salten de fila automáticamente al superar las doce columnas permitidas por fila, aplicamos
`no-wrap`.

<div class="demo">
	<div class="container">
		<div class="row no-wrap">
			<div class="col-6">
				<div>col-6</div>
			</div>
			<div class="col-6">
				<div>col-6</div>
			</div>
			<div class="col-2">
				<div>col-2</div>
			</div>
		</div>
	</div>
</div>

```html

		<div class="container">
			<div class="row no-wrap">
				<div class="col-6">
					<div>col-4</div>
				</div>
				<div class="col-6">
					<div>col-6</div>
				</div>
				<div class="col-2">
					<div>col-2</div>
				</div>
			</div>
		</div>

```

### Anidamiento de filas

Si una fila va a superar las doce columnas, el último bloque que exceda las doce saltará a una nueva línea.

<div class="demo">
	<div class="container">
		<div class="row">
			<div class="col-6">
				<div>.col-6</div>
			</div>
			<div class="col-8">
				<div>.col-8 (salta de línea porque 6 + 8 = 14, por lo tanto supera el máximo de 12)</div>
			</div>
			<div class="col-4">
				<div>.col-4 (no salta de línea porque 8 + 4 = 12, por lo tanto no supera las 12)</div>
			</div>
		</div>
	</div>
</div>

```html

		<div class="container">
			<div class="row">
				<div class="col-6">.col-6</div>
				<div class="col-8">.col-8 (salta de línea porque 6 + 8 = 14, por lo tanto supera el máximo de 12)</div>
				<div class="col-4">.col-4 (no salta de línea porque 8 + 4 = 12, por lo tanto no supera las 12)
				</div>
			</div>
		</div>

```

Si deseamos forzar que el elemento salte a una nueva línea aunque no se hayan superado las doce columnas, debemos crear un
nuevo `row`.

<div class="demo">
	<div class="container">
		<div class="row">
			<div class="col-3">
				<div>.col-3</div>
			</div>
			<div class="col-3">
				<div>.col-3</div>
			</div>
		</div>
		<div class="row">
			<div class="col-3">
				<div>.col-3 (salta a una nueva línea porque está en un row distinto)</div>
			</div>
		</div>
	</div>
</div>

```html

		<div class="container">
			<div class="row">
				<div class="col-3">.col-3</div>
				<div class="col-3">.col-3</div>
			</div>
			<div class="row">
				<div class="col-3">.col-3 (salta a una nueva línea porque está en un row distinto)</div>
			</div>
		</div>

```

## Columnas (.col)

Las columnas siempre deben ir inmediatamente después del `row` y su semántica es `col-{número}` o
`col-#{$breakpoint}-{número}`.

El número que se añade, equivale al número de columnas que ocupa el contenedor, siempre con un máximo de 12.

<div class="demo">
	<div class="container">
		<div class="row">
			<div class="col-2">
				<div>.col-2</div>
			</div>
			<div class="col-md-4">
				<div>.col-md-4</div>
			</div>
			<div class="col-xs-6">
				<div>.col-xs-6</div>
			</div>
		</div>
	</div>
</div>

```html

		<div class="col-2"></div>
		<div class="col-md-4"></div>
		<div class="col-xs-6"></div>

```

### Responsive

Si definimos el contenedor usando `col-{número}`, este contenedor siempre ocupará el mismo espacio de columnas en todas las resoluciones.

<div class="demo">
	<div class="container">
		<div class="row">
			<div class="col-6">
				<div>.col-6</div>
			</div>
			<div class="col-6">
				<div>.col-6</div>
			</div>
		</div>
	</div>
</div>

```html

		<div class="container">
			<div class="row">
				<div class="col-6">
					<div>.col-6</div>
				</div>
				<div class="col-6">
					<div>.col-6</div>
				</div>
			</div>
		</div>

```

Si definimos el espacio de columnas que ocupará según la resolución, debemos escribirlo como
`col-#{$breakpoint}-{número de columnas}` donde `#{$breakpoint}` equivale a `lg`, `md`, `sm` y `xs`.

<div class="demo">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div>.col-md-3</div>
			</div>
			<div class="col-md-6">
				<div>.col-md-6</div>
			</div>
		</div>
	</div>
</div>

```html

		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div>.col-md-3</div>
				</div>
				<div class="col-md-6">
					<div>.col-md-6</div>
				</div>
			</div>
		</div>

```

Hay que tener en cuenta que si representamos el contenedor utilizando un breakpoint, toda columna inferior a dicha
resolución se representará con un ancho 100%, como si estuviese a 12 columnas. Mientras que las resoluciones superiores
se quedarán definidas con el número de columnas que marcamos en la clase.

En este ejemplo veremos como en la resolución `md` (desde 992px hasta 1199px) el contenedor ocupará 6 columnas, es
decir, el 50% de su elemento padre. Pero no sólo ocupará 6 columnas en `md` sino que también las ocupará en `lg` (más
de 1200px).

En resoluciones inferiores, tanto `xs` (menos de 767px) como `sm` (de 768px a 991px), ocupará el 100% como si
estuviese a 12 columnas.

<div class="demo">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div>.col-md-6</div>
			</div>
		</div>
	</div>
</div>

```html

		<div class="container">
			<div class="row">
				<div class="col-md-6">
					.col-md-6
				</div>
			</div>
		</div>

```

### Tamaños

El espacio entre columnas se calcula mediante `padding-left` y `padding-right`, utilizando en ambos casos la variable,
la cual vimos anteriormente, `$grid-column-gutter / 2`

```sass

		padding-left: ($grid-column-gutter / 2);
		padding-right: ($grid-column-gutter / 2);

```

El ancho de las columnas está indicado en %, así siempre mantienen un tamaño relativo a su contenedor padre. Dicho %
tendrá un ancho máximo u otro dependiendo del número de columnas que queremos que ocupe, ya que dicho valor
condicionará el ancho máximo del contenedor.

```sass

		.col-#{$breakpoint}-#{$i} {
			flex-basis: 100%/($columns / $i);
			max-width: 100%/($columns / $i);
		}

```

### Alineamiento vertical

Podemos alinear verticalmente las columnas utilizando las mismas clases que usamos anteriormente con las filas, pero esta
vez aplicándolas en el contenedor de las columnas.

<div class="demo">
	<div class="container">
		<div class="row">
			<div class="col-4 align-bottom">
				<div>.align-bottom</div>
			</div>
			<div class="col-4 align-top">
				<div>
					.align-middle lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias, natus quasi consequuntur debitis consequatur
					delectus nulla commodi eveniet sapiente, sequi aliquid at fuga, voluptas alias ex? Deleniti tempore sunt minima.
				</div>
			</div>
			<div class="col-4 align-middle">
				<div>
					.align-middle
				</div>
			</div>
		</div>
	</div>
</div>

```html

		<div class="container">
			<div class="row">
				<div class="col-4 align-bottom">
					.align-bottom
				</div>
				<div class="col-4 align-top">
					.align-top lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias, natus quasi consequuntur debitis
					consequatur delectus nulla commodi eveniet sapiente, sequi aliquid at fuga, voluptas alias ex? Deleniti tempore sunt
					minima.
				</div>
				<div class="col-4 align-middle">
					.align-middle
				</div>
			</div>
		</div>

```

### Offset

Aplica un margen izquierdo a las columnas usando las clases `col-#{$breakpoint}-offset-{número de columnas de
espacio}`.

<div class="demo">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-2"><div>.col-md-4 .col-md-offset-2</div></div>
			<div class="col-md-3 col-md-offset-3"><div>.col-md-3 .col-md-offset-3</div></div>
		</div>
		<div class="row">
			<div class="col-md-6"><div>.col-md-6</div></div>
			<div class="col-md-3 col-md-offset-2"><div>.col-md-3</div></div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3"><div>.col-md-6 .col-md-offset-3</div></div>
		</div>
	</div>
</div>

```html

		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-2">.col-md-4 .col-md-offset-2</div>
				<div class="col-md-3 col-md-offset-3">.col-md-3 .col-md-offset-3</div>
			</div>
			<div class="row">
				<div class="col-md-6">.col-md-6</div>
				<div class="col-md-3 col-md-offset-2">.col-md-3 .col-md-offset-2</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-md-offset-3">.col-md-6 .col-md-offset-3</div>
			</div>
		</div>

```

### Order

Podemos cambiar el orden en el que se muestran las columnas mediante `order-#{$breakpoint}-{número de posición}`.

El {número de posición} equivaldrá a un máximo de 12, ya que equivale al número máximo de columnas total.

Otras clases que podemos usar son `order-#{$breakpoint}-last` para indicar que el elemento va en última posición y
`order-#{$breakpoint}-first` si queremos que sea el primero.

<div class="demo">
	<div class="container">
		<div class="row">
			<div class="col-md-3 order-md-last"><div>.order-md-last</div></div>
			<div class="col-md-3 order-md-3"><div>.order-md-3</div></div>
			<div class="col-md-3 order-md-2"><div>.order-md-2</div></div>
			<div class="col-md-3 order-md-first"><div>.order-md-first</div></div>
		</div>
	</div>
</div>


```html

		<div class="container">
			<div class="row">
				<div class="col-md-3 order-md-last"><div>.order-md-last</div></div>
				<div class="col-md-3 order-md-3"><div>.order-md-3</div></div>
				<div class="col-md-3 order-md-2"><div>.order-md-2</div></div>
				<div class="col-md-3 order-md-first"><div>.order-md-first</div></div>
			</div>
		</div>

```

{% endmarkdown %}

{% endblock %}