
{% extends "../layouts/default.njk" %}

{% block content %}

{% markdown %}

# Grid

### Contenedores (.container)

- tabla tamaños
- Container fluid
- Ver opción de meter clase nuevas BS 4 container-md
- No anidar dos contenedores
- Variables breakpoints (mixins)
- Variables modificar contenedor
- Ejemplos

### Filas (.row)

- Alineación vertical
- Distribución horizontal
- no-gutter
- reverse
- no-wrap
- Anidamiento de filas


### Columnas (.col)

- Tamaños
- responsive
- Alineamiento vertical
- Offset
- Order

{% endmarkdown %}

{% endblock %}