{% extends "layouts/default.njk" %}

{% block content %}

	<!-- <h1>Hello world!!</h1>
	<ul>
	{% for item in vars.lista %}
		<li><a href="{{ item }}">{{ item }}</a></li>
	{% endfor %}
	</ul> -->

<h1>Ejemplos:</h1>

<ul>
	<li><a href="colores.html">Colores</a></li>
	<li><a href="tipografia.html">Tipografías</a></li>
	<li><a href="contenidos.html">Contenidos</a></li>
	<li><a href="iconos.html">Iconos</a></li>
	<li><a href="grid.html">Grid</a></li>
	<li><a href="botones.html">Botones</a></li>
	<li><a href="formularios.html">Formularios</a></li>
	<li><a href="modal.html">Modal</a></li>
	<li><a href="dropdown.html">Dropdown</a></li>
	<li><a href="tabs.html">Tabs</a></li>
	<li><a href="offcanvas.html">Offcanvas</a></li>
	<li><a href="embed.html">Embed</a></li>
	<li><a href="flex.html">Flex</a></li>
	<li><a href="collapse.html">Collapse</a></li>
	<li><a href="parallax.html">Parallax</a></li>
	<li><a href="utilidades.html">Utilidades</a></li>
</ul>

{% endblock %}
