
{% extends "../layouts/default.njk" %}

{% block content %}

{% markdown %}

Modal
======

Para utilizar una modal debemos tener en cuenta lo siguiente:


	* Uno de los requisitos para crear nuestra modal es proporcionarle un `id` al contenedor, al igual que la clase `modal`.
	* La modal debe contar con un contenedor `modal-content` en su interior.
	* `modal-content` está compuesto por tres contenedores básicos:
			* `modal-header`
			* `modal-body`
			* `modal-footer`
	* Dentro de `modal-header` encontramos `modal-title`, clase la cual se aplicaría en el título de la modal.
	* Para cerrar la modal, debemos aplicar la clase `modal-close` y las propiedades `data-action="modal-close"` y
	  `data-target={id modal}`.
	* Las modales también pueden cerrarse haciendo click fuera de ella.


<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<a class="btn btn-outlined-secondary btn-md btn-block mb-md" data-action="modal-open" data-target="modal-demo-1">Modal</a>
		</div>
	</div>
</div>

<div class="modal" id="modal-demo-1">
	<div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title">Título de la modal</h4>
		</div>
		<div class="modal-body">
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium, dolor magnam? Fugit omnis molestiae
				necessitatibus eveniet debitis, veritatis laudantium unde cum ullam quod nobis obcaecati, sunt totam recusandae
				voluptatum laborum reprehenderit dignissimos minus quam ad! Exercitationem hic nobis laborum illo.
			</p>
			<p>
				Dolore ad voluptates illo, perspiciatis maxime iure. Aperiam reiciendis hic quae fugiat sapiente accusantium nesciunt
				consequatur a? Ratione eveniet deserunt et, commodi quisquam dicta quo sit? Quo voluptate corrupti rerum, nostrum
				asperiores, quibusdam quae consectetur commodi mollitia aspernatur in cumque, adipisci eligendi laudantium ut. Sed
				atque cumque excepturi quibusdam quaerat ullam. Eligendi velit, architecto quaerat modi aspernatur dolor tempora nobis?
			</p>
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium, dolor magnam? Fugit omnis molestiae
				necessitatibus eveniet debitis, veritatis laudantium unde cum ullam quod nobis obcaecati, sunt totam recusandae
				voluptatum laborum reprehenderit dignissimos minus quam ad! Exercitationem hic nobis laborum illo.
			</p>
			<p>
				Dolore ad voluptates illo, perspiciatis maxime iure. Aperiam reiciendis hic quae fugiat sapiente accusantium nesciunt
				consequatur a? Ratione eveniet deserunt et, commodi quisquam dicta quo sit? Quo voluptate corrupti rerum, nostrum
				asperiores, quibusdam quae consectetur commodi mollitia aspernatur in cumque, adipisci eligendi laudantium ut. Sed
				atque cumque excepturi quibusdam quaerat ullam. Eligendi velit, architecto quaerat modi aspernatur dolor tempora nobis?
			</p>
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium, dolor magnam? Fugit omnis molestiae
				necessitatibus eveniet debitis, veritatis laudantium unde cum ullam quod nobis obcaecati, sunt totam recusandae
				voluptatum laborum reprehenderit dignissimos minus quam ad! Exercitationem hic nobis laborum illo.
			</p>
			<p>
				Dolore ad voluptates illo, perspiciatis maxime iure. Aperiam reiciendis hic quae fugiat sapiente accusantium nesciunt
				consequatur a? Ratione eveniet deserunt et, commodi quisquam dicta quo sit? Quo voluptate corrupti rerum, nostrum
				asperiores, quibusdam quae consectetur commodi mollitia aspernatur in cumque, adipisci eligendi laudantium ut. Sed
				atque cumque excepturi quibusdam quaerat ullam. Eligendi velit, architecto quaerat modi aspernatur dolor tempora nobis?
			</p>
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium, dolor magnam? Fugit omnis molestiae
				necessitatibus eveniet debitis, veritatis laudantium unde cum ullam quod nobis obcaecati, sunt totam recusandae
				voluptatum laborum reprehenderit dignissimos minus quam ad! Exercitationem hic nobis laborum illo.
			</p>
			<p>
				Dolore ad voluptates illo, perspiciatis maxime iure. Aperiam reiciendis hic quae fugiat sapiente accusantium nesciunt
				consequatur a? Ratione eveniet deserunt et, commodi quisquam dicta quo sit? Quo voluptate corrupti rerum, nostrum
				asperiores, quibusdam quae consectetur commodi mollitia aspernatur in cumque, adipisci eligendi laudantium ut. Sed
				atque cumque excepturi quibusdam quaerat ullam. Eligendi velit, architecto quaerat modi aspernatur dolor tempora nobis?
			</p>
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium, dolor magnam? Fugit omnis molestiae
				necessitatibus eveniet debitis, veritatis laudantium unde cum ullam quod nobis obcaecati, sunt totam recusandae
				voluptatum laborum reprehenderit dignissimos minus quam ad! Exercitationem hic nobis laborum illo.
			</p>
			<p>
				Dolore ad voluptates illo, perspiciatis maxime iure. Aperiam reiciendis hic quae fugiat sapiente accusantium nesciunt
				consequatur a? Ratione eveniet deserunt et, commodi quisquam dicta quo sit? Quo voluptate corrupti rerum, nostrum
				asperiores, quibusdam quae consectetur commodi mollitia aspernatur in cumque, adipisci eligendi laudantium ut. Sed
				atque cumque excepturi quibusdam quaerat ullam. Eligendi velit, architecto quaerat modi aspernatur dolor tempora nobis?
			</p>
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium, dolor magnam? Fugit omnis molestiae
				necessitatibus eveniet debitis, veritatis laudantium unde cum ullam quod nobis obcaecati, sunt totam recusandae
				voluptatum laborum reprehenderit dignissimos minus quam ad! Exercitationem hic nobis laborum illo.
			</p>
			<p>
				Dolore ad voluptates illo, perspiciatis maxime iure. Aperiam reiciendis hic quae fugiat sapiente accusantium nesciunt
				consequatur a? Ratione eveniet deserunt et, commodi quisquam dicta quo sit? Quo voluptate corrupti rerum, nostrum
				asperiores, quibusdam quae consectetur commodi mollitia aspernatur in cumque, adipisci eligendi laudantium ut. Sed
				atque cumque excepturi quibusdam quaerat ullam. Eligendi velit, architecto quaerat modi aspernatur dolor tempora nobis?
			</p>
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium, dolor magnam? Fugit omnis molestiae
				necessitatibus eveniet debitis, veritatis laudantium unde cum ullam quod nobis obcaecati, sunt totam recusandae
				voluptatum laborum reprehenderit dignissimos minus quam ad! Exercitationem hic nobis laborum illo.
			</p>
			<p>
				Dolore ad voluptates illo, perspiciatis maxime iure. Aperiam reiciendis hic quae fugiat sapiente accusantium nesciunt
				consequatur a? Ratione eveniet deserunt et, commodi quisquam dicta quo sit? Quo voluptate corrupti rerum, nostrum
				asperiores, quibusdam quae consectetur commodi mollitia aspernatur in cumque, adipisci eligendi laudantium ut. Sed
				atque cumque excepturi quibusdam quaerat ullam. Eligendi velit, architecto quaerat modi aspernatur dolor tempora nobis?
			</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn btn-outlined btn-xs-block btn-sm-block mb-xs-md" data-action="modal-close" data-target="modal-demo-1">Cancelar</a>
			<a href="" class="btn btn-success btn-xs-block btn-sm-block">Aceptar</a>
		</div>
	</div>
</div>

```html
		<a class="btn btn-outlined-secondary btn-md btn-block mt-xxl" data-action="modal-open" data-target="modal-demo-1">Modal</a>

		<div class="modal" id="modal-demo-1">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Título de la modal</h4>
				</div>
				<div class="modal-body">
					<p>
						...
					</p>
				</div>
				<div class="modal-footer">
					<a href="#" class="btn btn-outlined mb-xs-md" data-action="modal-close" data-target="modal-demo-1">Cancelar</a>
					<a href="" class="btn btn-success">Aceptar</a>
				</div>
			</div>
		</div>
```

### Modal center

Aplicando la clase `modal-center`, la modal se centrará y su scroll vertical no se aplicará a la ventana, sino a la modal.

<div class="container">
	<div class="row">
		<div class="col-md-offset-3 col-md-6">
			<a class="btn btn-outlined-secondary btn-md btn-block mb-md" data-action="modal-open" data-target="modal-demo-center">Modal center</a>
		</div>
	</div>
</div>

<div class="modal modal-center" id="modal-demo-center">

	<div class="modal-content">
		<div class="modal-header">
			<h3 class="modal-title">Título de la modal</h3>
		</div>
		<div class="modal-body">
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium, dolor magnam? Fugit omnis molestiae
				necessitatibus eveniet debitis, veritatis laudantium unde cum ullam quod nobis obcaecati, sunt totam recusandae
				voluptatum laborum reprehenderit dignissimos minus quam ad! Exercitationem hic nobis laborum illo.
			</p>
			<p>
				Dolore ad voluptates illo, perspiciatis maxime iure. Aperiam reiciendis hic quae fugiat sapiente accusantium nesciunt
				consequatur a? Ratione eveniet deserunt et, commodi quisquam dicta quo sit? Quo voluptate corrupti rerum, nostrum
				asperiores, quibusdam quae consectetur commodi mollitia aspernatur in cumque, adipisci eligendi laudantium ut. Sed
				atque cumque excepturi quibusdam quaerat ullam. Eligendi velit, architecto quaerat modi aspernatur dolor tempora nobis?
			</p>
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium, dolor magnam? Fugit omnis molestiae
				necessitatibus eveniet debitis, veritatis laudantium unde cum ullam quod nobis obcaecati, sunt totam recusandae
				voluptatum laborum reprehenderit dignissimos minus quam ad! Exercitationem hic nobis laborum illo.
			</p>
			<p>
				Dolore ad voluptates illo, perspiciatis maxime iure. Aperiam reiciendis hic quae fugiat sapiente accusantium nesciunt
				consequatur a? Ratione eveniet deserunt et, commodi quisquam dicta quo sit? Quo voluptate corrupti rerum, nostrum
				asperiores, quibusdam quae consectetur commodi mollitia aspernatur in cumque, adipisci eligendi laudantium ut. Sed
				atque cumque excepturi quibusdam quaerat ullam. Eligendi velit, architecto quaerat modi aspernatur dolor tempora nobis?
			</p>
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium, dolor magnam? Fugit omnis molestiae
				necessitatibus eveniet debitis, veritatis laudantium unde cum ullam quod nobis obcaecati, sunt totam recusandae
				voluptatum laborum reprehenderit dignissimos minus quam ad! Exercitationem hic nobis laborum illo.
			</p>
			<p>
				Dolore ad voluptates illo, perspiciatis maxime iure. Aperiam reiciendis hic quae fugiat sapiente accusantium nesciunt
				consequatur a? Ratione eveniet deserunt et, commodi quisquam dicta quo sit? Quo voluptate corrupti rerum, nostrum
				asperiores, quibusdam quae consectetur commodi mollitia aspernatur in cumque, adipisci eligendi laudantium ut. Sed
				atque cumque excepturi quibusdam quaerat ullam. Eligendi velit, architecto quaerat modi aspernatur dolor tempora nobis?
			</p>
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium, dolor magnam? Fugit omnis molestiae
				necessitatibus eveniet debitis, veritatis laudantium unde cum ullam quod nobis obcaecati, sunt totam recusandae
				voluptatum laborum reprehenderit dignissimos minus quam ad! Exercitationem hic nobis laborum illo.
			</p>
			<p>
				Dolore ad voluptates illo, perspiciatis maxime iure. Aperiam reiciendis hic quae fugiat sapiente accusantium nesciunt
				consequatur a? Ratione eveniet deserunt et, commodi quisquam dicta quo sit? Quo voluptate corrupti rerum, nostrum
				asperiores, quibusdam quae consectetur commodi mollitia aspernatur in cumque, adipisci eligendi laudantium ut. Sed
				atque cumque excepturi quibusdam quaerat ullam. Eligendi velit, architecto quaerat modi aspernatur dolor tempora nobis?
			</p>
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium, dolor magnam? Fugit omnis molestiae
				necessitatibus eveniet debitis, veritatis laudantium unde cum ullam quod nobis obcaecati, sunt totam recusandae
				voluptatum laborum reprehenderit dignissimos minus quam ad! Exercitationem hic nobis laborum illo.
			</p>
			<p>
				Dolore ad voluptates illo, perspiciatis maxime iure. Aperiam reiciendis hic quae fugiat sapiente accusantium nesciunt
				consequatur a? Ratione eveniet deserunt et, commodi quisquam dicta quo sit? Quo voluptate corrupti rerum, nostrum
				asperiores, quibusdam quae consectetur commodi mollitia aspernatur in cumque, adipisci eligendi laudantium ut. Sed
				atque cumque excepturi quibusdam quaerat ullam. Eligendi velit, architecto quaerat modi aspernatur dolor tempora nobis?
			</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn btn-outlined btn-xs-block btn-sm-block mb-xs-md" data-action="modal-close" data-target="modal-demo-center">Cancelar</a>
			<a href="" class="btn btn-success btn-xs-block btn-sm-block">Aceptar</a>
		</div>
	</div>

</div>

```html
		<a class="btn btn-outlined-secondary btn-md btn-block mb-md" data-action="modal-open" data-target="modal-demo-center">Modal center</a>

		<div class="modal modal-center" id="modal-demo-center">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">Título de la modal</h3>
				</div>
				<div class="modal-body">
					<p>
						...
					</p>
				</div>
				<div class="modal-footer">
					<a href="#" class="btn btn-outlined mb-xs-md" data-action="modal-close" data-target="modal-demo-center">Cancelar</a>
					<a href="" class="btn btn-success">Aceptar</a>
				</div>
			</div>
		</div>
```

### Modal noclick

Con `modal-noclick` evitamos que la modal se cierre al hacer click fuera de ella.

<div class="container">
	<div class="row">
		<div class="col-md-offset-3 col-md-6">
			<button class="btn btn-outlined-secondary btn-md btn-block mb-md" data-action="modal-open" data-target="modal-demo-2">Modal noclick</button>
		</div>
	</div>
</div>

<div class="modal modal-center modal-noclick" id="modal-demo-2">
	<div class="modal-content">
		<div class="modal-close" data-action="modal-close" data-target="modal-demo-2"><div class="icon-x"></div></div>

		<div class="modal-body pt-xxxl">
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium, dolor magnam? Fugit omnis molestiae necessitatibus eveniet debitis,
				veritatis laudantium unde cum ullam quod nobis obcaecati, sunt totam recusandae voluptatum laborum reprehenderit dignissimos minus quam ad!
				Exercitationem hic nobis laborum illo.
			</p>

		</div>
		<div class="modal-footer">
			<a href="#" class="btn btn-outlined btn-xs-block btn-sm-block mb-xs-md" data-action="modal-close" data-target="modal-demo-2">Cancelar</a>
			<a href="" class="btn btn-success btn-xs-block btn-sm-block">Aceptar</a>
		</div>
	</div>
</div>


```html
		<button class="btn btn-outlined-secondary btn-md btn-block mb-md" data-action="modal-open" data-target="modal-demo-2">Modal noclick</button>

		<div class="modal modal-center modal-noclick" id="modal-demo-2">
			<div class="modal-content">
				<div class="modal-close" data-action="modal-close" data-target="modal-demo-2"><div class="icon-x"></div></div>
				<div class="modal-body pt-xxxl">
					<p>
						Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium, dolor magnam? Fugit omnis molestiae
						necessitatibus eveniet debitis, veritatis laudantium unde cum ullam quod nobis obcaecati, sunt totam recusandae
						voluptatum laborum reprehenderit dignissimos minus quam ad! Exercitationem hic nobis laborum illo.
					</p>
				</div>
				<div class="modal-footer">
					<a href="#" class="btn btn-outlined mb-xs-md" data-action="modal-close" data-target="modal-demo-2">Cancelar</a>
					<a href="" class="btn btn-success">Aceptar</a>
				</div>
			</div>
		</div>
```

### Modal multiple

También, se puede lanzar una modal dentro de una modal.

<div class="container">
	<div class="row">
		<div class="col-md-offset-3 col-md-6">
			<a onclick="console.log('demo 3')" class="btn btn-outlined-secondary btn-md btn-block mb-md" data-action="modal-open" data-target="modal-demo-3">Multiple Modal</a>
		</div>
	</div>
</div>

<div class="modal modal-lg modal-noclick" id="modal-demo-3">
	<div class="modal-content">
		<div class="modal-close" data-action="modal-close" data-target="modal-demo-3">&times;</div>
		<div class="modal-header">
			<h3 class="modal-title">Título de la modal</h3>
		</div>
		<div class="modal-body">
			<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium, dolor magnam? Fugit omnis molestiae
				necessitatibus eveniet debitis, veritatis laudantium unde cum ullam quod nobis obcaecati, sunt totam recusandae
				voluptatum laborum reprehenderit dignissimos minus quam ad! Exercitationem hic nobis laborum illo. Dolore ad
				voluptates illo, perspiciatis maxime iure. Aperiam reiciendis hic quae fugiat sapiente accusantium nesciunt
				consequatur a? Ratione eveniet deserunt et, commodi quisquam dicta quo sit? Quo voluptate corrupti rerum, nostrum
				asperiores, quibusdam quae consectetur commodi mollitia aspernatur in cumque, adipisci eligendi laudantium ut. Sed
				atque cumque excepturi quibusdam quaerat ullam. Eligendi velit, architecto quaerat modi aspernatur dolor tempora
				nobis?
			</p>
			<button onclick="console.log('onclick')" class="btn btn-outlined-secondary btn-md btn-block mt-xxl" data-action="modal-open" data-target="modal-demo-1">Modal</button>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn btn-outlined btn-xs-block btn-sm-block mb-xs-md" data-action="modal-close" data-target="modal-demo-3">Cancelar</a>
			<a href="" class="btn btn-success btn-xs-block btn-sm-block">Múltiples modales</a>
		</div>
	</div>
</div>

```html
		<a onclick="console.log('demo 3')" class="btn btn-outlined-secondary btn-md btn-block mt-xxl" data-action="modal-open" data-target="modal-demo-3">Multiple Modal</a>

		<div class="modal modal-lg modal-noclick" id="modal-demo-3">
			<div class="modal-content">
				<div class="modal-close" data-action="modal-close" data-target="modal-demo-3">&times;</div>
				<div class="modal-header">
					<h3 class="modal-title">Título de la modal</h3>
				</div>
				<div class="modal-body">
					<p>...</p>
					<button onclick="console.log('onclick')" class="btn btn-outlined-secondary btn-md btn-block mt-xxl" data-action="modal-open" data-target="modal-demo-1">Modal</button>
				</div>
				<div class="modal-footer">
					<a href="#" class="btn btn-outlined" data-action="modal-close" data-target="modal-demo-3">Cancelar</a>
					<a href="" class="btn btn-success">Múltiples modales</a>
				</div>
			</div>
		</div>
```

### Modal video

Usando la clase `modal-video` y `embed-responsive` podemos añadir vídeos responsive a la modal.

<div class="container">
	<div class="row">
		<div class="col-md-offset-3 col-md-6">
			<a onclick="console.log('demo 3')" class="btn btn-outlined-secondary btn-md btn-block mb-md" data-action="modal-open" data-target="modal-demo-video">Modal Video</a>
		</div>
	</div>
</div>

<div class="modal modal-video" id="modal-demo-video">
	<div class="modal-close" data-action="modal-close" data-target="modal-demo-video"><div class="icon-x"></div></div>
	<div class="modal-content">
		<div class="modal-body">
			<div class="embed-responsive">
				<iframe class="" src="https://www.youtube.com/embed/3vBwRfQbXkg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>

```html
		<a onclick="console.log('demo 3')" class="btn btn-outlined-secondary btn-md btn-block" data-action="modal-open" data-target="modal-demo-video">Modal Video</a>

		<div class="modal modal-video" id="modal-demo-video">
			<div class="modal-close" data-action="modal-close" data-target="modal-demo-video"><div class="icon-x"></div></div>
			<div class="modal-content">
				<div class="modal-body">
					<div class="embed-responsive">
						<iframe class="" src="https://www.youtube.com/embed/3vBwRfQbXkg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>
```

### Abrir modal por javascript

<div class="container">
	<div class="row">
		<div class="col-md-offset-3 col-md-6">
			<a onclick="abrirModal()" class="btn btn-outlined-secondary btn-md btn-block mb-md">Abrir por js</a>
		</div>
	</div>
</div>

```html
		<a onclick="abrirModal()" class="btn btn-outlined-secondary btn-md">Abrir por js</a>
```

```js
		function abrirModal() {
			Modal.open('modal-demo-1');
		}
```

### Modal parametrizada

<div class="container">
	<div class="row">
		<div class="col-md-offset-3 col-md-6">
			<div class="form-input">
				<label for="nombre">Parámetro nombre</label>
				<input type="text" name="nombre" id="nombre" value="Test">
			</div>
			<a onclick="abrirModalParams()" class="btn btn-outlined-secondary btn-md btn-block mb-md">Abrir modal parametrizada</a>
		</div>
	</div>
</div>

<div class="modal" id="modal-demo-param">
	<div class="modal-content">
		<div class="modal-close" data-action="modal-close" data-target="modal-demo-param">&times;</div>
		<div class="modal-header">
			<h3>Título de la modal paramétrizada</h3>
		</div>
		<div class="modal-body">
			{% raw %}
			<p>Hola {{nombre}},</p>
			<p>
				¿Qué tal {{nombre}}? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium, dolor magnam? Fugit omnis
				molestiae necessitatibus eveniet debitis, veritatis laudantium unde cum ullam quod nobis obcaecati, sunt totam
				recusandae voluptatum laborum reprehenderit dignissimos minus quam ad! Exercitationem hic nobis laborum illo. Dolore ad
				voluptates illo, perspiciatis maxime iure. Aperiam reiciendis hic quae fugiat sapiente accusantium nesciunt consequatur
				a? Ratione eveniet deserunt et, commodi quisquam dicta quo sit? Quo voluptate corrupti rerum, nostrum asperiores,
				quibusdam quae consectetur commodi mollitia aspernatur in cumque, adipisci eligendi laudantium ut. Sed atque cumque
				excepturi quibusdam quaerat ullam. Eligendi velit, architecto quaerat modi aspernatur dolor tempora nobis?
			</p>
			{% endraw %}
		</div>
		<div class="modal-footer">
			<a href="#" class="btn btn-outlined btn-xs-block btn-sm-block mb-xs-md" data-action="modal-close" data-target="modal-demo-param">Cancelar</a>
			<a href="" class="btn btn-success btn-xs-block btn-sm-block">Aceptar</a>
		</div>
	</div>
</div>

```html
		<div class="form-input">
			<label for="nombre">Parámetro nombre</label>
			<input type="text" name="nombre" id="nombre" value="Test">
		</div>
		<a onclick="abrirModalParams()" class="btn btn-outlined-secondary btn-md btn-block mb-md">Abrir modal parametrizada</a>

		<div class="modal" id="modal-demo-param">
			<div class="modal-content">
				<div class="modal-close" data-action="modal-close" data-target="modal-demo-param">&times;</div>
				<div class="modal-header">
					<h3>Título de la modal paramétrizada</h3>
				</div>
				<div class="modal-body">
					<p>Hola {{nombre}},</p>

					<p>
						¿Qué tal {{nombre}}? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium, dolor magnam? Fugit omnis
						...
					</p>
				</div>
				<div class="modal-footer">
					<a href="#" class="btn btn-outlined" data-action="modal-close" data-target="modal-demo-param">Cancelar</a>
					<a href="" class="btn btn-success">Aceptar</a>
				</div>
			</div>
		</div>
```

```js
		function abrirModalParams() {
			var nombre = document.getElementById('nombre').value;
			Modal.open('modal-demo-param', { nombre });
		}
```

### Modal parametrizada con callback

<div class="container">
	<div class="row">
		<div class="col-md-offset-3 col-md-6">
			<a onclick="abrirModalParamsCallback()" class="btn btn-outlined-secondary btn-md mb-md btn-block">Abrir modal parametrizada con callback</a>
		</div>
	</div>
</div>

```html
		<a onclick="abrirModalParamsCallback()" class="btn btn-outlined-secondary btn-md btn-block">Abrir modal parametrizada con callback</a>
```

```js
		function abrirModalParamsCallback() {
			var nombre = document.getElementById('nombre').value;
			Modal.open('modal-demo-param', { nombre: nombre }, function(data) {
				alert(nombre);
			});
		}
```

### Modal fluid

Añadiendo la clase `modal-fluid`, la modal ocupará el 80% de la ventana.

<div class="container">
	<div class="row">
		<div class="col-md-offset-3 col-md-6">
			<a class="btn btn-outlined-secondary btn-md btn-block mb-md" data-action="modal-open" data-target="modal-demo-fluid">Modal fluid</a>
		</div>
	</div>
</div>

<div class="modal modal-center modal-fluid" id="modal-demo-fluid">
	<div class="modal-content">
		<div class="modal-header">
			<h3 class="modal-title">Título de la modal</h3>
		</div>
		<div class="modal-body">
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium, dolor magnam? Fugit omnis molestiae necessitatibus eveniet debitis,
				veritatis laudantium unde cum ullam quod nobis obcaecati, sunt totam recusandae voluptatum laborum reprehenderit dignissimos minus quam ad!
				Exercitationem hic nobis laborum illo.
			</p>
			<p>
				Dolore ad voluptates illo, perspiciatis maxime iure. Aperiam reiciendis hic quae fugiat sapiente accusantium nesciunt
				consequatur a? Ratione eveniet deserunt et, commodi quisquam dicta quo sit? Quo voluptate corrupti rerum, nostrum asperiores, quibusdam quae consectetur commodi
				mollitia aspernatur in cumque, adipisci eligendi laudantium ut. Sed atque cumque excepturi quibusdam quaerat ullam. Eligendi velit, architecto
				quaerat modi aspernatur dolor tempora nobis?
			</p>
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium, dolor magnam? Fugit omnis molestiae necessitatibus eveniet debitis,
				veritatis laudantium unde cum ullam quod nobis obcaecati, sunt totam recusandae voluptatum laborum reprehenderit dignissimos minus quam ad!
				Exercitationem hic nobis laborum illo.
			</p>
			<p>
				Dolore ad voluptates illo, perspiciatis maxime iure. Aperiam reiciendis hic quae fugiat sapiente accusantium nesciunt
				consequatur a? Ratione eveniet deserunt et, commodi quisquam dicta quo sit? Quo voluptate corrupti rerum, nostrum asperiores, quibusdam quae consectetur commodi
				mollitia aspernatur in cumque, adipisci eligendi laudantium ut. Sed atque cumque excepturi quibusdam quaerat ullam. Eligendi velit, architecto
				quaerat modi aspernatur dolor tempora nobis?
			</p>
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium, dolor magnam? Fugit omnis molestiae necessitatibus eveniet debitis,
				veritatis laudantium unde cum ullam quod nobis obcaecati, sunt totam recusandae voluptatum laborum reprehenderit dignissimos minus quam ad!
				Exercitationem hic nobis laborum illo.
			</p>
			<p>
				Dolore ad voluptates illo, perspiciatis maxime iure. Aperiam reiciendis hic quae fugiat sapiente accusantium nesciunt
				consequatur a? Ratione eveniet deserunt et, commodi quisquam dicta quo sit? Quo voluptate corrupti rerum, nostrum asperiores, quibusdam quae consectetur commodi
				mollitia aspernatur in cumque, adipisci eligendi laudantium ut. Sed atque cumque excepturi quibusdam quaerat ullam. Eligendi velit, architecto
				quaerat modi aspernatur dolor tempora nobis?
			</p>
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium, dolor magnam? Fugit omnis molestiae necessitatibus eveniet debitis,
				veritatis laudantium unde cum ullam quod nobis obcaecati, sunt totam recusandae voluptatum laborum reprehenderit dignissimos minus quam ad!
				Exercitationem hic nobis laborum illo.
			</p>
			<p>
				Dolore ad voluptates illo, perspiciatis maxime iure. Aperiam reiciendis hic quae fugiat sapiente accusantium nesciunt
				consequatur a? Ratione eveniet deserunt et, commodi quisquam dicta quo sit? Quo voluptate corrupti rerum, nostrum asperiores, quibusdam quae consectetur commodi
				mollitia aspernatur in cumque, adipisci eligendi laudantium ut. Sed atque cumque excepturi quibusdam quaerat ullam. Eligendi velit, architecto
				quaerat modi aspernatur dolor tempora nobis?
			</p>
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium, dolor magnam? Fugit omnis molestiae necessitatibus eveniet debitis,
				veritatis laudantium unde cum ullam quod nobis obcaecati, sunt totam recusandae voluptatum laborum reprehenderit dignissimos minus quam ad!
				Exercitationem hic nobis laborum illo.
			</p>
			<p>
				Dolore ad voluptates illo, perspiciatis maxime iure. Aperiam reiciendis hic quae fugiat sapiente accusantium nesciunt
				consequatur a? Ratione eveniet deserunt et, commodi quisquam dicta quo sit? Quo voluptate corrupti rerum, nostrum asperiores, quibusdam quae consectetur commodi
				mollitia aspernatur in cumque, adipisci eligendi laudantium ut. Sed atque cumque excepturi quibusdam quaerat ullam. Eligendi velit, architecto
				quaerat modi aspernatur dolor tempora nobis?
			</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn btn-outlined btn-xs-block btn-sm-block mb-xs-md" data-action="modal-close" data-target="modal-demo-fluid">Cancelar</a>
			<a href="" class="btn btn-success btn-xs-block btn-sm-block">Aceptar</a>
		</div>
	</div>
</div>

```html
		<a class="btn btn-outlined-secondary btn-md btn-block mb-md" data-action="modal-open" data-target="modal-demo-fluid">Modal center</a>

		<div class="modal modal-center modal-fluid" id="modal-demo-fluid">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">Título de la modal</h3>
				</div>
				<div class="modal-body">
					<p>
						...
					</p>
				</div>
				<div class="modal-footer">
					<a href="#" class="btn btn-outlined btn-xs-block btn-sm-block mb-xs-md" data-action="modal-close" data-target="modal-demo-fluid">Cancelar</a>
					<a href="" class="btn btn-success btn-xs-block btn-sm-block">Aceptar</a>
				</div>
			</div>
		</div>
```

### Tamaños

Podemos cambiar el tamaño de la modal aplicándole las clases `modal-sm`, `modal-md` y `modal-lg`.

El ancho de estas tres clases puede modificarse fácilmente en el archivo `variables.scss`.

```sass
		$modal-sm-content-width: 480px;
		$modal-md-content-width: 780px;
		$modal-lg-content-width: 900px;
```

{% endmarkdown %}

<script>

	function abrirModal() {
		Modal.open('modal-demo-1');
	}

	function abrirModalParams() {
		var nombre = document.getElementById('nombre').value;
		Modal.open('modal-demo-param', { nombre });
	}

	function abrirModalParamsCallback() {
		var nombre = document.getElementById('nombre').value;
		Modal.open('modal-demo-param', { nombre: nombre }, function(data) {
			alert(nombre);
		});
	}

</script>

{% endblock %}