
{% extends "../layouts/default.njk" %}

{% block content %}

<h1>hola4</h1>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Navbar</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">

				<nav class="navbar">

					<div class="navbar-responsive">
						<div class="navbar-left">
							<div class="navbar-logo">
								<img src="//ximg.es/150x30/dedede/aaa&text=LOGO" alt="">
							</div>	
						</div>
						<div class="navbar-center">
							<!-- <span>Menu</span>	 -->
						</div>
						<div class="navbar-right">
							<div class="navbar-burger" onclick="this.classList.toggle('open'); document.querySelector('.navbar-content').classList.toggle('open')">
								<div class="navbar-burger-bar"></div>
								<div class="navbar-burger-bar"></div>
								<div class="navbar-burger-bar"></div>
							</div>
						</div>
					</div>

					<div class="navbar-content open">
						<div class="navbar-left">
							<div class="navbar-logo hidden-xs hidden-sm">
								<img src="//ximg.es/150x40/dedede/aaa&text=LOGO" alt="">
							</div>						
						</div>
						<div class="navbar-center">
						</div>
						<div class="navbar-right">
							<div class="navbar-link hidden-xs hidden-sm"><a href=""><div class="icon-facebook"></div></a></div>
							<div class="navbar-link hidden-xs hidden-sm mr-xl"><a href=""><div class="icon-twitter"></div></a></div>
							<div class="navbar-link"><a href="">Item 1</a></div>
							<!-- <div class="navbar-item"><span>texto normal</span></div> -->
							<div class="navbar-link"><a href="">Item 2</a></div>
							<div class="navbar-dropdown">
								<a href="javascript:void()" class="navbar-dropdown-toogle" onclick="document.querySelector('.navbar-dropdown').classList.toggle('open')">Item 3 <i class="icon-chevron-down"></i></a>
								<ul class="navbar-dropdown-menu navbar-dropdown-menu-right">
									<li class="navbar-dropdown-item"><a href="">Dropdown Item 1</a></li>
									<li class="navbar-dropdown-item"><a href="">Dropdown Item 2</a></li>
									<li class="navbar-dropdown-item"><a href="">Dropdown</a></li>
									<li class="navbar-dropdown-item"><a href="">Dropdown Item 4</a></li>
								</ul>
							</div>
							<div class="navbar-item hidden-md hidden-lg mt-md">
									<a href="" class="display-inline-block text-gray"><i class="icon-facebook text-xxl"></i></a>
									<a href="" class="display-inline-block ml-md text-gray"><i class="icon-twitter text-xxl"></i></a>
							</div>
							<div class="navbar-button hidden-sm hidden-lg"><a href="" class="btn btn-primary btn-rounded btn-outlined btn-block">Item 3</a></div>							
						</div>
					</div>

				</nav>

			</div>
		</div>
	</div>


{% endblock %}