{% extends "../layouts/default.njk" %}

{% block offcanvas %}


<!--OFFCANVAS SLIDE-->


<div class="offcanvas offcanvas-slide-left bg-success" id="slide-left">
		<h3 class="text-white">Canvas Slide LEFT</h3>
	<p>
		Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam necessitatibus architecto quis asperiores
		minima sapiente qui alias eligendi eum mollitia maxime minus sunt neque excepturi, accusamus nihil nobis porro? Enim?
	</p>
	<a class="btn btn-rounded btn-block mt-lg" data-action="offcanvas" data-target="slide-left">Cerrar</a>
</div>

<div class="offcanvas offcanvas-slide-right bg-primary" id="slide-right">
	<h3 class="text-white">Canvas Slide RIGHT</h3>
	<a class="btn btn-rounded btn-block mt-lg" data-action="offcanvas" data-target="slide-right">cerrar</a>
</div>

<div class="offcanvas offcanvas-slide-top bg-primary" id="slide-top">
	<h3 class="text-white">Canvas Slide TOP</h3>
	<a class="btn btn-rounded btn-block mt-lg" data-action="offcanvas" data-target="slide-top">cerrar</a>
</div>

<div class="offcanvas offcanvas-slide-bottom bg-primary" id="slide-bottom">
	<h3 class="text-white">Canvas Slide BOTTOM</h3>
	<a class="btn btn-rounded btn-block mt-lg" data-action="offcanvas" data-target="slide-bottom">cerrar</a>
</div>


<!--OFFCANVAS PUSH-->


<div class="offcanvas offcanvas-push-left bg-primary" id="push-left">
	<h3 class="text-white">Canvas Push LEFT</h3>
	<a class="btn btn-rounded btn-block mt-lg" data-action="offcanvas" data-target="push-left">cerrar</a>
</div>

<div class="offcanvas offcanvas-push-right bg-primary" id="push-right">
	<h3 class="text-white">Canvas Push RIGHT</h3>
	<a class="btn btn-rounded btn-block mt-lg" data-action="offcanvas" data-target="push-right">cerrar</a>
</div>

<div class="offcanvas offcanvas-push-top bg-primary" id="push-top">
	<h3 class="text-white">Canvas Push TOP</h3>
	<a class="btn btn-rounded btn-block mt-lg" data-action="offcanvas" data-target="push-top">cerrar</a>
</div>

<div class="offcanvas offcanvas-push-bottom bg-primary" id="push-bottom">
	<h3 class="text-white">Canvas Push BOTTOM</h3>
	<a class="btn btn-rounded btn-block mt-lg" data-action="offcanvas" data-target="push-bottom">cerrar</a>
</div>


<!--OFFCANVAS FADED-->


<div class="offcanvas offcanvas-modal-faded bg-danger" id="modal-faded">
	<h3 class="text-white">Canvas Push LEFT</h3>
	<a class="btn btn-rounded btn-block mt-lg" data-action="offcanvas" data-target="modal-faded">cerrar</a>
</div>


{% endblock %}

{% block content %}

<style>

#modal-faded {
	width: 100%;
	height: 100%;
}

</style>

{% markdown %}

# Off-canvas

Diferentes tipos de menús off-canvas que se muestran al hacer click.

Para activar dicho menú, debemos añadir, por ejemplo, un `a` que debe llevar un `data-action="offcanvas"` y
`data-target="{id del contenedor offcanvas}"`.

```html

		<a class="btn btn-block" data-action="offcanvas" data-target="test"></a>

```

El siguiente paso sería crear un contenedor, obligatoriamente, con la clase `offcanvas`. No sólo debe contar con esta
clase, contará con otra clase más dependiendo del tipo de menú `off-canvas` que vayamos a usar. También, debe contar
con un `id`.

```html

		<div class="offcanvas offcanvas-slide-left" id="test">
			...
		</div>

```

Dentro del contenedor `offcanvas`, debemos añadir un elemento para cerrarlo. Este elemento debe llevar
`data-action="offcanvas"` y el `id` del contenedor.

```html

		<div class="offcanvas offcanvas-slide-left" id="test">
			<a class="btn btn-rounded btn-block" data-action="offcanvas" data-target="test">Cerrar</a>
		</div>

```

Todo esto pasaría a verse así:

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<a class="btn btn-block btn-primary" data-action="offcanvas" data-target="test">Abrir menú</a>
	</div>
</div>

<div class="offcanvas offcanvas-slide-left bg-success" id="test">
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi totam aliquid reprehenderit veniam odit sapiente
		omnis ullam voluptatem, facere voluptates unde aperiam repudiandae. Sed commodi consequatur minima quas reiciendis
		officia.
	</p>
	<a class="btn btn-rounded btn-block" data-action="offcanvas" data-target="test">Cerrar</a>
</div>

```html

		<a class="btn btn-block" data-action="offcanvas" data-target="test">Abrir menú</a>

		<div class="offcanvas offcanvas-slide-left bg-success" id="test">
			<p>
				...
			</p>
			<a class="btn btn-rounded btn-block" data-action="offcanvas" data-target="test">Cerrar</a>
		</div>

```

### Off-canvas slide

El `off-canvas` al ser `slide` se antepondrá a nuestro contenido apareciendo por el lugar que hayamos indicado.

Contamos con 4 tipos distintos de off-canvas slide, los cuales llevan la clase `offcanvas-slide-{posicion}` en la que
`{posicion}` equivale por cual parte de la ventana queremos que se muestre el menú.

Dicho `{posicion}` puede ser `left`, `right`, `top` y `bottom`.

#### Off-canvas slide left

<div class="row">
	<div class="col-md-6 col-md-offset-3 text-center">
		<a class="btn btn-block btn-primary" data-action="offcanvas" data-target="slide-left">Canvas slide LEFT</a>
	</div>
</div>

```html

		<a class="btn btn-block" data-action="offcanvas" data-target="slide-left">Canvas slide LEFT</a>

		<div class="offcanvas offcanvas-slide-left" id="slide-left">
			<h3 class="text-white">Canvas Slide LEFT</h3>
			<p>
				...
			</p>
			<a class="btn btn-rounded btn-block" data-action="offcanvas" data-target="slide-left">Cerrar</a>
		</div>

```

#### Off-canvas slide right

<div class="row">
	<div class="col-md-6 col-md-offset-3 text-center">
		<a class="btn btn-block btn-primary" data-action="offcanvas" data-target="slide-right">Canvas slide RIGHT</a>
	</div>
</div>

```html

		<a class="btn btn-block" data-action="offcanvas" data-target="slide-right">Canvas slide RIGHT</a>

		<div class="offcanvas offcanvas-slide-right bg-primary" id="slide-right">
			<h3 class="text-white">Canvas Slide RIGHT</h3>
			<a class="btn btn-rounded btn-block" data-action="offcanvas" data-target="slide-right">cerrar</a>
		</div>

```

#### Off-canvas slide top

<div class="row">
	<div class="col-md-6 col-md-offset-3 text-center">
		<a class="btn btn-block btn-primary" data-action="offcanvas" data-target="slide-top">Canvas slide TOP</a>
	</div>
</div>

```html

		<a class="btn btn-block" data-action="offcanvas" data-target="slide-top">Canvas slide TOP</a>

		<div class="offcanvas offcanvas-slide-top bg-primary" id="slide-top">
			<h3 class="text-white">Canvas Slide TOP</h3>
			<a class="btn btn-rounded btn-block" data-action="offcanvas" data-target="slide-top">cerrar</a>
		</div>

```

#### Off-canvas slide bottom

<div class="row">
	<div class="col-md-6 col-md-offset-3 text-center">
		<a class="btn btn-block btn-primary" data-action="offcanvas" data-target="slide-bottom">Canvas slide BOTTOM</a>
	</div>
</div>

```html

		<a class="btn btn-block" data-action="offcanvas" data-target="slide-bottom">Canvas slide BOTTOM</a>

		<div class="offcanvas offcanvas-slide-bottom bg-primary" id="slide-bottom">
			<h3 class="text-white">Canvas Slide BOTTOM</h3>
			<a class="btn btn-rounded btn-block" data-action="offcanvas" data-target="slide-bottom">cerrar</a>
		</div>

```

### Off-canvas push

Con `off-canvas push` en lugar de anteponer el contenido a la ventana, lo que conseguimos es desplazar o "empujar" su
contenido.

En este caso, sustituimos el `offcanvas-slide-{posicion}` por `offcanvas-push-{posicion}`.

#### Offcanvas push left

<div class="row">
	<div class="col-md-6 col-md-offset-3 text-center">
		<a class="btn btn-primary btn-block" data-action="offcanvas" data-target="push-left">Canvas push LEFT</a>
	</div>
</div>

```html

		<a class="btn btn-block" data-action="offcanvas" data-target="push-left">Canvas push LEFT</a>

		<div class="offcanvas offcanvas-push-left offcanvas-noclick bg-primary" id="push-left">
			<h3 class="text-white">Canvas Push LEFT noclick</h3>
			<a class="btn btn-rounded btn-block mt-lg" data-action="offcanvas" data-target="push-left">cerrar</a>
		</div>

```

#### Offcanvas push right

<div class="row">
	<div class="col-md-6 col-md-offset-3 text-center">
		<a class="btn btn-block btn-primary" data-action="offcanvas" data-target="push-right">Canvas push RIGHT</a>
	</div>
</div>

```html

		<a class="btn btn-block" data-action="offcanvas" data-target="push-right">Canvas push RIGHT</a>

		<div class="offcanvas offcanvas-push-right bg-primary" id="push-right">
			<h3 class="text-white">Canvas Push RIGHT</h3>
			<a class="btn btn-rounded btn-block mt-lg" data-action="offcanvas" data-target="push-right">cerrar</a>
		</div>

```

#### Offcanvas push top

<div class="row">
	<div class="col-md-6 col-md-offset-3 text-center">
		<a class="btn btn-block btn-primary" data-action="offcanvas" data-target="push-top">Canvas push TOP</a>
	</div>
</div>

```html

		<a class="btn btn-block btn-primary" data-action="offcanvas" data-target="push-top">Canvas push TOP</a>

		<div class="offcanvas offcanvas-push-top bg-primary" id="push-top">
			<h3 class="text-white">Canvas Push TOP</h3>
			<a class="btn btn-rounded btn-block mt-lg" data-action="offcanvas" data-target="push-top">cerrar</a>
		</div>

```

#### Offcanvas push bottom

<div class="row">
	<div class="col-md-6 col-md-offset-3 text-center">
		<a class="btn btn-block btn-primary" data-action="offcanvas" data-target="push-bottom">Canvas push BOTTOM</a>
	</div>
</div>

```html

		<a class="btn btn-block btn-primary" data-action="offcanvas" data-target="push-bottom">Canvas push BOTTOM</a>

		<div class="offcanvas offcanvas-push-bottom bg-primary" id="push-bottom">
			<h3 class="text-white">Canvas Push BOTTOM</h3>
			<a class="btn btn-rounded btn-block mt-lg" data-action="offcanvas" data-target="push-bottom">cerrar</a>
		</div>

```

### Off-canvas faded

Con este tipo de `offcanvas` conseguimos que el menú se ponga por encima del contenido, provocando que este ocupe la
pantalla completa realizando una pequeña transición.

<div class="row">
	<div class="col-md-6 col-md-offset-3 text-center">
		<a class="btn btn-block btn-primary" data-action="offcanvas" data-target="modal-faded">Canvas modal FADED</a>
	</div>
</div>

```html

		<a class="btn btn-block btn-primary" data-action="offcanvas" data-target="modal-faded">Canvas modal FADED</a>

		<div class="offcanvas offcanvas-modal-faded bg-danger" id="modal-faded">
			<h3 class="text-white">Canvas Push LEFT</h3>
			<a class="btn btn-rounded btn-block mt-lg" data-action="offcanvas" data-target="modal-faded">cerrar</a>
		</div>

```

{% endmarkdown %}

{% endblock %}