{% extends "../layouts/default.njk" %}

{% block content %}

{% markdown %}

Parallax
======

Este componente usa la librería <a href="https://github.com/nk-o/jarallax" target="_blank">jarallax</a>. Para más
información sobre como funciona, consultar su <a href="https://github.com/nk-o/jarallax" target="_blank">documentación</a>.

### Parallax imagen

<div class="block parallax" data-speed="0.5" data-type="scroll" data-img-position="left">
	<img src="https://picsum.photos/id/122/2000/1000" id="1" class="parallax-img">
</div>

```html
		<div class="block parallax" data-speed="0.5" data-type="scroll" data-img-position="left">
			<img src="https://picsum.photos/id/122/2000/1000" id="1" class="parallax-img">
		</div>
```

### Parallax vídeo

<div class="block parallax-video" data-type="scroll" data-speed="0.5" data-video-src="https://www.youtube.com/watch?v=ab0TSkLe-E0"></div>

```html
		<div class="block parallax-video" data-type="scroll" data-speed="0.5" data-video-src="https://www.youtube.com/watch?v=ab0TSkLe-E0"></div>
```

También, se puede insertar el vídeo como background.

<div class="block parallax" data-type="scroll" data-speed="0.5" style="background: url(https://picsum.photos/id/120/2000/2000)"></div>

```html
		<div class="block parallax" data-type="scroll" data-speed="0.5" style="background: url(https://picsum.photos/id/120/2000/2000)"></div>
```

<style>

	.block {
		position: relative;
		overflow: hidden;
		height: 50vh;
	}

	.block img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

</style>

{% endmarkdown %}

{% endblock %}