{% extends "../layouts/default.njk" %}


{% block content %}

{% markdown %}

<div class="row">
	<div class="col-md-12"><h3 class="mt-xl">Select</h3></div>
	<div class="col-md-6">
		<div class="form-select form-sm">
			<label for="test">Demo select</label>
			<select name="" id="">
				<option value="">Seleccionar opción...</option>
				<option value="">Seleccionar opción...</option>
				<option value="">Seleccionar opción...</option>
				<option value="">Seleccionar opción...</option>
			</select>
			<small>Texto ayuda para el usuario</small>
		</div>
		<div class="form-select">
			<label for="test">Demo select</label>
			<select name="" id="">
				<option value="">Seleccionar opción...</option>
				<option value="">Seleccionar opción...</option>
				<option value="">Seleccionar opción...</option>
				<option value="">Seleccionar opción...</option>
			</select>
			<small>Texto ayuda para el usuario</small>
		</div>
		<div class="form-select form-md">
			<label for="test">Demo select</label>
			<select name="" id="">
				<option value="">Seleccionar opción...</option>
				<option value="">Seleccionar opción...</option>
				<option value="">Seleccionar opción...</option>
				<option value="">Seleccionar opción...</option>
			</select>
			<small>Texto ayuda para el usuario</small>
		</div>
		<div class="form-select form-lg">
			<label for="test">Demo select</label>
			<select name="" id="">
				<option value="">Seleccionar opción...</option>
				<option value="">Seleccionar opción...</option>
				<option value="">Seleccionar opción...</option>
				<option value="">Seleccionar opción...</option>
			</select>
			<small>Texto ayuda para el usuario</small>
		</div>
		<div class="form-select">
			<label for="test">Disabled select </label>
			<select name="" id="" disabled>
				<option value="">Seleccionar opción...</option>
				<option value="">Seleccionar opción...</option>
				<option value="">Seleccionar opción...</option>
				<option value="">Seleccionar opción...</option>
			</select>
			<small>Texto ayuda para el usuario</small>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-select form-sm" >
			<label for="test">Demo select size sm</label>
			<select name="" id="">
				<option value="">Seleccionar opción...1</option>
				<option value="">Seleccionar opción...2</option>
				<option value="">Seleccionar opción...3</option>
				<option value="">Seleccionar opción...4</option>
			</select>
			<small>Texto ayuda para el usuario</small>
		</div>
		<div class="form-select form-lg">
			<label for="test">Demo select size lg</label>
			<select name="" id="">
				<option value="">Seleccionar opción...</option>
				<option value="">Seleccionar opción...</option>
				<option value="">Seleccionar opción...</option>
				<option value="">Seleccionar opción...</option>
			</select>
			<small>Texto ayuda para el usuario</small>
		</div>
	</div>
</div>

{% endmarkdown %}

{% endblock %}

