
{% extends "../layouts/default.njk" %}

{% block content %}


	<h1>Slider</h1>

	<h3>Simple slider</h3>

	<div class="swiper-container swiper-simple">
		<div class="swiper-wrapper">
			<div class="swiper-slide bg-bright"><h4 class="m-none">Slider 1</h4></div>
			<div class="swiper-slide bg-light"><h4 class="m-none">Slider 2</h4></div>
			<div class="swiper-slide bg-gray"><h4 class="m-none">Slider 3</h4></div>
		</div>
	</div>
  
	<h3>Slider con navegación y loop</h3>

	<div class="swiper-container swiper-navigation">
		<div class="swiper-wrapper">
			<div class="swiper-slide bg-bright"><h4 class="m-none">Slider 1</h4></div>
			<div class="swiper-slide bg-light"><h4 class="m-none">Slider 2</h4></div>
			<div class="swiper-slide bg-bright"><h4 class="m-none">Slider 3</h4></div>
			<div class="swiper-slide bg-light"><h4 class="m-none">Slider 4</h4></div>
			<div class="swiper-slide bg-bright"><h4 class="m-none">Slider 5</h4></div>
		</div>
		<div class="swiper-button-next"></div>
		<div class="swiper-button-prev"></div>		
		<div class="swiper-pagination"></div>
	</div>

	<h3>Slider con imágenes autoheight</h3>

	<div class="swiper-container swiper-autoheight">
		<div class="swiper-wrapper">
			<div class="swiper-slide bg-bright"><img src="//ximg.es/1200x600" alt=""></div>
			<div class="swiper-slide bg-bright"><img src="//ximg.es/1200x600" alt=""></div>
			<div class="swiper-slide bg-bright"><img src="//ximg.es/1200x600" alt=""></div>
			<div class="swiper-slide bg-bright"><img src="//ximg.es/1200x600" alt=""></div>
			<div class="swiper-slide bg-bright"><img src="//ximg.es/1200x600" alt=""></div>
		</div>
		<div class="swiper-button-next"></div>
		<div class="swiper-button-prev"></div>		
		<div class="swiper-pagination"></div>
	</div>

	<script>

	</script>

	<h3>Slider con paginación</h3>

	<div class="swiper-container swiper-pages">
		<div class="swiper-wrapper">
			<div class="swiper-slide bg-bright"><h4 class="m-none">Slider 1</h4></div>
			<div class="swiper-slide bg-light"><h4 class="m-none">Slider 2</h4></div>
			<div class="swiper-slide bg-bright"><h4 class="m-none">Slider 3</h4></div>
			<div class="swiper-slide bg-light"><h4 class="m-none">Slider 4</h4></div>
			<div class="swiper-slide bg-bright"><h4 class="m-none">Slider 5</h4></div>
		</div>
		<div class="swiper-button-next"></div>
		<div class="swiper-button-prev"></div>		
		<div class="swiper-pagination"></div>
	</div>


	<h3>Slider con fade</h3>

	<div class="swiper-container swiper-fade">
		<div class="swiper-wrapper">
			<div class="swiper-slide bg-bright"><h4 class="m-none">Slider 1</h4></div>
			<div class="swiper-slide bg-light"><h4 class="m-none">Slider 2</h4></div>
			<div class="swiper-slide bg-bright"><h4 class="m-none">Slider 3</h4></div>
			<div class="swiper-slide bg-light"><h4 class="m-none">Slider 4</h4></div>
			<div class="swiper-slide bg-bright"><h4 class="m-none">Slider 5</h4></div>
		</div>
		<div class="swiper-button-next"></div>
		<div class="swiper-button-prev"></div>		
	</div>


	<h3>Simple Vertical</h3>

	<div class="swiper-container swiper-vertical" style="height: 600px;">
		<div class="swiper-wrapper">
			<div class="swiper-slide bg-bright"><h4 class="m-none">Slider 1</h4></div>
			<div class="swiper-slide bg-light"><h4 class="m-none">Slider 2</h4></div>
			<div class="swiper-slide bg-gray"><h4 class="m-none">Slider 3</h4></div>
		</div>

		<div class="swiper-pagination"></div>
	</div>

	
	<link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
	
	<script src="https://unpkg.com/swiper/js/swiper.min.js"></script>

	<script>

		document.addEventListener("DOMContentLoaded", function() {

			var mySwiper = new Swiper('.swiper-simple')

			var pepe = new Swiper('.swiper-navigation', {			
				autoHeight: true,
				loop: true,
				autoplay: {
					delay: 2500,
					disableOnInteraction: false,
				},			
				pagination: {
					el: '.swiper-pagination',
					dynamicBullets: true,
					clickable: true,
				},
				navigation: {
					nextEl: '.swiper-button-next',
					prevEl: '.swiper-button-prev',
				},				
			});

			var mySwiper = new Swiper('.swiper-autoheight', {
				autoHeight: true,
				pagination: {
					el: '.swiper-pagination',
					dynamicBullets: true,
					clickable: true,
				},
				navigation: {
					nextEl: '.swiper-button-next',
					prevEl: '.swiper-button-prev',
				},	
			});

			var mySwiper = new Swiper('.swiper-pages', {
				autoHeight: true,
				pagination: {
					el: '.swiper-pagination',
					type: 'fraction',
				},
				navigation: {
					nextEl: '.swiper-button-next',
					prevEl: '.swiper-button-prev',
				},	
			});
			
			var mySwiper = new Swiper('.swiper-fade', {
				autoHeight: true,
				effect: 'fade',
				navigation: {
					nextEl: '.swiper-button-next',
					prevEl: '.swiper-button-prev',
				},	
			});

			var mySwiper = new Swiper('.swiper-vertical', {
				direction: 'vertical',
				mousewheel: true,
				pagination: {
					el: '.swiper-pagination',
					clickable: true,
				},
			});
		});
	</script>	


{% endblock %}