
{% extends "../layouts/default.njk" %}

{% block content %}

<style>

.spacing-demo {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.spacing-utilities {
	display: inline-block;
	border: 1px solid var(--light);
	background: #f8f9fa;
	margin-bottom: 15px;
	margin-right: 5px;
}

.spacing-utilities span {
	display: block;
	border: 1px solid black;
	border-style: dashed;
	color: black;
}

</style>

{% markdown %}

Espacios
======

Una serie de clases ya sea aplicando `margin` o `padding` las cuales cuentan con una versión `xxs` hasta `xxxxl` para
aplicar menor o mayor espacio.

La semántica de dichas clases es la siguiente:

	* Si queremos aplicar `margin` a nuestro elemento, empezariamos la clase por `m-`, mientras que si es padding la
	empezaríamos por `p-`.
	* Indistintamente de si es `margin` o `padding`, a continuación escribiríamos el lado al que queremos que se aplique,
	donde:
			* `t-` es para `margin-top` o `padding-top`.
			* `b-` es para `margin-bottom` o `padding-bottom`.
			* `l-` es para `margin-left` o `padding-left`.
			* `r-` es para `margin-right` o `padding-right`.
			* `x-` es para `margin-right` o `padding-right` y `margin-left` o `padding-left`.
			* `y-` es para `margin-top` o `padding-top` y `margin-bottom` o `padding-bottom`.
	* A continuación añadiriamos el breakpoint (desde `xs` hasta `lg`). Esto no es necesario a no ser que busquemos
	aplicarle ese `margin` o `padding` en una resolución específica.
	* Por último, añadimos el tamaño partiendo desde `xss` hasta `xxxxl`, donde también encontramos `none`.

Los valores que encontramos desde `xxs` hasta `xxxxl` equivale al siguiente tamaño en píxeles que se muestra en la
siguiente tabla:

<table class="table-responsive-list table-striped table-bordered">
	<thead>
		<tr>
			<th>Valor</th>
			<th>Tamaño</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>xxs</td>
			<td>2px</td>
		</tr>
		<tr>
			<td>xs</td>
			<td>5px</td>
		</tr>
		<tr>
			<td>sm</td>
			<td>10px</td>
		</tr>
		<tr>
			<td>md</td>
			<td>15px</td>
		</tr>
		<tr>
			<td>lg</td>
			<td>20px</td>
		</tr>
		<tr>
			<td>xl</td>
			<td>30px</td>
		</tr>
		<tr>
			<td>xxl</td>
			<td>50px</td>
		</tr>
		<tr>
			<td>xxxl</td>
			<td>80px</td>
		</tr>
		<tr>
			<td>xxxxl</td>
			<td>130px</td>
		</tr>
	</tbody>
</table>

### Algunos ejemplos

<div class="demo spacing-demo">
	<div class="spacing-utilities">
		<span class="mr-md">.mr-md</span>
	</div>
	<div class="spacing-utilities">
		<span class="p-sm">.p-xl</span>
	</div>
	<div class="spacing-utilities">
		<span class="my-lg">.my-lg</span>
	</div>
	<div class="spacing-utilities">
		<span class="mx-xl pt-md">.mx-xl .pt-md</span>
	</div>
	<div class="spacing-utilities">
		<span class="mr-md-xl pb-md-sm">.mr-md-xl .pb-md-sm</span>
	</div>
</div>

```html
		<span class="mr-md">.mr-md</span>
		<span class="p-sm">.p-xl</span>
		<span class="my-lg">.my-lg</span>
		<span class="mx-xl pt-md">.mx-xl .pt-md</span>
		<span class="mr-md-xl pb-md-sm">.mr-md-xl .pb-md-sm</span>
```

{% endmarkdown %}

{% endblock %}