{% extends "layouts/default.njk" %}

{% block content %}

<h1>Tables</h1>



<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h4>Table responsive</h4>

			<table class="table-responsive">
				<thead>
					<tr>
						<th>Account</th>
						<th>Due Date</th>
						<th>Amount</th>
						<th>Period</th>
						<th>Period</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td data-label="Account">Visa - 3412</td>
						<td data-label="Due Date">04/01/2016</td>
						<td data-label="Amount">$1,190</td>
						<td data-label="Period">03/01/2016 - 03/31/2016</td>
						<td data-label="Period">03/01/2016 - 03/31/2016</td>
					</tr>
					<tr>
						<td data-label="Account">Visa - 3412</td>
						<td data-label="Due Date">04/01/2016</td>
						<td data-label="Amount">$1,190</td>
						<td data-label="Period">03/01/2016 - 03/31/2016</td>
						<td data-label="Period">03/01/2016 - 03/31/2016</td>
					</tr>
					<tr>
						<td data-label="Account">Visa - 3412</td>
						<td data-label="Due Date">04/01/2016</td>
						<td data-label="Amount">$1,190</td>
						<td data-label="Period">03/01/2016 - 03/31/2016</td>
						<td data-label="Period">03/01/2016 - 03/31/2016</td>
					</tr>
					<tr>
						<td data-label="Account">Visa - 3412</td>
						<td data-label="Due Date">04/01/2016</td>
						<td data-label="Amount">$1,190</td>
						<td data-label="Period">03/01/2016 - 03/31/2016</td>
						<td data-label="Period">03/01/2016 - 03/31/2016</td>
					</tr>
					<tr>
						<td data-label="Account">Visa - 3412</td>
						<td data-label="Due Date">04/01/2016</td>
						<td data-label="Amount">$1,190</td>
						<td data-label="Period">03/01/2016 - 03/31/2016</td>
						<td data-label="Period">03/01/2016 - 03/31/2016</td>
					</tr>
				</tbody>
			</table>

			<table class="table-striped table-responsive-list">
				<thead>
					<tr>
						<th>Account</th>
						<th>Due Date</th>
						<th>Amount</th>
						<th>Period</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td data-label="Account">Visa - 3412</td>
						<td data-label="Due Date">04/01/2016</td>
						<td data-label="Amount">$1,190</td>
						<td data-label="Period">03/01/2016 - 03/31/2016</td>
					</tr>
					<tr>
						<td data-label="Account">Visa - 3412</td>
						<td data-label="Due Date">04/01/2016</td>
						<td data-label="Amount">$1,190</td>
						<td data-label="Period">03/01/2016 - 03/31/2016</td>
					</tr>
					<tr>
						<td data-label="Account">Visa - 3412</td>
						<td data-label="Due Date">04/01/2016</td>
						<td data-label="Amount">$1,190</td>
						<td data-label="Period">03/01/2016 - 03/31/2016</td>
					</tr>
					<tr>
						<td data-label="Account">Visa - 3412</td>
						<td data-label="Due Date">04/01/2016</td>
						<td data-label="Amount">$1,190</td>
						<td data-label="Period">03/01/2016 - 03/31/2016</td>
					</tr>
					<tr>
						<td data-label="Account">Visa - 3412</td>
						<td data-label="Due Date">04/01/2016</td>
						<td data-label="Amount">$1,190</td>
						<td data-label="Period">03/01/2016 - 03/31/2016</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
</div>


{% endblock %}