
{% extends "layouts/default.njk" %}

{% block content %}

<div class="content mt-xxl">
	<div class="row">
		<div class="col-md-12">

			<div class="tabs">
				<a href="#uno" class="tabs-item active">Tab Uno</a>
				<a href="#dos" class="tabs-item">Tab dos</a>
				<a href="#tres" class="tabs-item">Tab tres</a>
			</div>

			<div class="tabs-content">
				<div class="tabs-panel show" id="uno">
					<h4>Contenido tab uno</h4>
					<p class="mb-none">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore consectetur in, ipsum saepe sunt quibusdam, blanditiis quos, expedita amet veniam necessitatibus cumque quia tenetur ratione tempora facere! Vero saepe qui eveniet. Repellat tempore dolor consectetur doloribus beatae accusamus, ab quisquam fugit iure saepe nihil natus earum impedit laudantium quas sint id architecto aliquam velit qui nemo dolore sequi blanditiis. Ut, earum. Adipisci hic id at beatae sunt nisi alias facere voluptates accusantium vero dignissimos quo odio quaerat eligendi modi corporis aperiam mollitia sequi debitis ratione velit praesentium accusamus, dolorum optio? Saepe doloribus et aliquam! Quisquam corrupti distinctio maxime voluptates id.</p>
				</div>
				<div class="tabs-panel" id="dos">
					<h4>Contenido tab dos</h4>
					<p class="mb-none">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores praesentium quaerat sed repudiandae molestias, beatae aut sapiente dolor expedita ea necessitatibus dicta, at minus sit fugit labore possimus id. Omnis expedita eos architecto quo, animi aut facere accusamus placeat est nihil. Consequuntur dolores ex fugit! Voluptate pariatur sapiente quod deleniti.</p>
				</div>
				<div class="tabs-panel" id="tres">
					<h4>Contenido tab tres</h4>
					<p class="mb-none">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos eum, deserunt unde soluta error labore aspernatur at ad sunt natus dicta nisi blanditiis aperiam in.</p>
				</div>
			</div>

		</div>
	</div>
</div>


{% endblock %}