
{% extends "../layouts/default.njk" %}

{% block content %}

{% markdown %}

# Tabs

Crea una navegación mediante pestañas fácilmente.

Para empezar, debemos crear un contenedor con las clases `tabs` y `tabs-responsive`.

```html

		<div class="tabs tabs-responsive">
			...
		</div>

```

Este contenedor dispondrá de una serie de enlaces (`a`), los cuales cada uno de ellos representará el título de cada
pestaña con la que contará la navegación.

Dichos `a`, deben llevar la clase `tabs-item` y, uno de ellos, la clase `active` la cual diferenciará que esa pestaña
es la que se encuentra abierta actualmente.

Estos elementos `a` deben llevar su atributo `href`, indicando el `id` de las pestañas que veremos unos
pasos más adelante.

<div class="demo">
	<div class="tabs tabs-reponsive">
		<a href="#" class="tabs-item">Tab Uno</a>
		<a href="#" class="tabs-item active">Tab dos</a>
		<a href="#" class="tabs-item">Tab tres</a>
	</div>
</div>

```html

		<div class="tabs tabs-reponsive">
			<a href="#uno" class="tabs-item">Tab Uno</a>
			<a href="#dos" class="tabs-item active">Tab dos</a>
			<a href="#tres" class="tabs-item">Tab tres</a>
		</div>

```

El siguiente paso será abrir un nuevo contenedor usando la clase `tabs-content`. Este contenedor será el padre de
nuestro bloque de contenido.

```html

		<div class="tabs tabs-reponsive">
			<a href="#uno" class="tabs-item">Tab Uno</a>
			<a href="#dos" class="tabs-item active">Tab dos</a>
			<a href="#tres" class="tabs-item">Tab tres</a>
		</div>

		<div class="tabs-content">
			...
		</div>

```

Dentro del contenedor `tabs-content`, debemos incluir un nuevo contenedor llamado `tabs-panel` el cual aparecerá
representado el mismo número de veces según cuantos `tabs-item` tengamos.

Uno de ellos, deberá llevar la clase `show` la cual debe coincidir con el elemento que contiene la clase `active`.

Estos `tabs-panel`, deben llevar un `id` el cual debemos enlazar con los `a` (`tabs-item`).

<div class="demo">
	<div class="tabs tabs-reponsive">
		<a href="#uno" class="tabs-item">Tab Uno</a>
		<a href="#dos" class="tabs-item active">Tab dos</a>
		<a href="#tres" class="tabs-item">Tab tres</a>
	</div>

	<div class="tabs-content">
		<div class="tabs-panel" id="uno">
			<h4>Contenido tab uno</h4>
			<p>
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere officiis eius rem distinctio ipsam, nostrum quaerat ut
				reprehenderit beatae. Dolorum consectetur ullam voluptatem debitis nam dolor itaque sit corrupti possimus?
			</p>
		</div>
		<div class="tabs-panel show" id="dos">
			<h4>Contenido tab 2</h4>
			<p>
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere officiis eius rem distinctio ipsam, nostrum quaerat ut
				reprehenderit beatae. Dolorum consectetur ullam voluptatem debitis nam dolor itaque sit corrupti possimus?
			</p>
		</div>
		<div class="tabs-panel" id="tres">
			<h4>Contenido tab 3</h4>
			<p>
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere officiis eius rem distinctio ipsam, nostrum quaerat ut
				reprehenderit beatae. Dolorum consectetur ullam voluptatem debitis nam dolor itaque sit corrupti possimus?
			</p>
		</div>
	</div>
</div>

```html

		<div class="tabs tabs-reponsive">
			<a href="#uno" class="tabs-item">Tab Uno</a>
			<a href="#dos" class="tabs-item active">Tab dos</a>
			<a href="#tres" class="tabs-item">Tab tres</a>
		</div>

		<div class="tabs-content">
			<div class="tabs-panel" id="uno">
				<h4>Contenido tab 1</h4>
				<p>
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere officiis eius rem distinctio ipsam, nostrum quaerat ut
					reprehenderit beatae. Dolorum consectetur ullam voluptatem debitis nam dolor itaque sit corrupti possimus?
				</p>
			</div>
			<div class="tabs-panel show" id="dos">
				<h4>Contenido tab 2</h4>
				<p>
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere officiis eius rem distinctio ipsam, nostrum quaerat ut
					reprehenderit beatae. Dolorum consectetur ullam voluptatem debitis nam dolor itaque sit corrupti possimus?
				</p>
			</div>
			<div class="tabs-panel" id="tres">
				<h4>Contenido tab 3</h4>
				<p>
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere officiis eius rem distinctio ipsam, nostrum quaerat ut
					reprehenderit beatae. Dolorum consectetur ullam voluptatem debitis nam dolor itaque sit corrupti possimus?
				</p>
			</div>
		</div>

```

En responsive, todos los elementos `tabs-item` pasarán a formar parte de un menú dropdown pero siempre manteniendo una
pestaña para poder visualizar su contenido, es decir, no usaremos una navegación por pestañas como en el resto de
resoluciones, sino que nuestra navegación será mediante un menú el cual aparecerá a la derecha de la pestaña que esté
mostrándose, que en primera instancia, será la pestaña que elegimos anteriormente mediante las clases `show`y `active`.

Es necesario comprobar el ejemplo anterior en dispositivos móviles para entender este último punto

{% endmarkdown %}

{% endblock %}