{% extends "../layouts/default.njk" %}


{% block content %}

{% markdown %}

# Textarea

Dentro de un contenedor `form-textarea`, debemos añadir los elementos `label` y `textarea`.

<div class="row">
	<div class="col-md-6">
		<div class="form-textarea">
			<label for="">Demo textarea</label>
			<textarea name="" id="" rows="5">Contenido textarea</textarea>
			<small>Texto ayuda para el usuario</small>
		</div>
	</div>
</div>

```html

		<div class="form-textarea">
			<label for="">Demo textarea</label>
			<textarea name="" id="" rows="5">Contenido textarea</textarea>
			<small>Texto ayuda para el usuario</small>
		</div>

```

### Disabled textarea

Aplicando el atributo `disabled` o la clase `disabled` al `textarea`.

<div class="row">
	<div class="col-md-6">
		<div class="form-textarea">
			<label for="">Disabled textarea</label>
			<textarea name="" id="" rows="5" disabled>Contenido textarea</textarea>
			<small>Texto ayuda para el usuario</small>
		</div>
	</div>
</div>

```html

		<label for="">Disabled textarea</label>
		<textarea name="" id="" rows="5" disabled>Contenido textarea</textarea>
		<small>Texto ayuda para el usuario</small>

```

### Readonly textarea

Al aplicar el atributo `readonly` o la clase `readonly` al `textarea`, pasará a verse así:

<div class="col-md-6">
	<div class="form-textarea form-size-md">
		<label for="">Disabled textarea</label>
		<textarea name="" id="" rows="5" readonly>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione ipsa tempore natus fuga dicta quas molestias quibusdam! Magni, cum minus culpa possimus assumenda beatae ratione repellendus blanditiis quibusdam voluptate tempora?</textarea>
		<small>Texto ayuda para el usuario</small>
	</div>
</div>

```html

		<label for="">Disabled textarea</label>
		<textarea name="" id="" rows="5" readonly>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione ipsa tempore natus fuga dicta quas molestias quibusdam! Magni, cum minus culpa possimus assumenda beatae ratione repellendus blanditiis quibusdam voluptate tempora?</textarea>
		<small>Texto ayuda para el usuario</small>

```

### Tamaño textarea

El tamaño es modificable usando las clases `form-sm` o `form-size-sm`, `form-md` o `form-size-md` y
`form-lg` o `form-size-lg`.

<div class="col-md-6">
	<div class="form-textarea form-sm">
		<label for="">Disabled textarea</label>
		<textarea name="" id="" rows="5" readonly>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione ipsa tempore natus fuga dicta quas molestias quibusdam! Magni, cum minus culpa possimus assumenda beatae ratione repellendus blanditiis quibusdam voluptate tempora?
		</textarea>
		<small>Texto ayuda para el usuario</small>
	</div>
</div>
<div class="col-md-6">
	<div class="form-textarea form-md">
		<label for="">Disabled textarea</label>
		<textarea name="" id="" rows="5" readonly>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione ipsa tempore natus fuga dicta quas molestias quibusdam! Magni, cum minus culpa possimus assumenda beatae ratione repellendus blanditiis quibusdam voluptate tempora?
		</textarea>
		<small>Texto ayuda para el usuario</small>
	</div>
</div>
<div class="col-md-6">
	<div class="form-textarea form-lg">
		<label for="">Disabled textarea</label>
		<textarea name="" id="" rows="5" readonly>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione ipsa tempore natus fuga dicta quas molestias quibusdam! Magni, cum minus culpa possimus assumenda beatae ratione repellendus blanditiis quibusdam voluptate tempora?
		</textarea>
		<small>Texto ayuda para el usuario</small>
	</div>
</div>

```html

		<div class="form-textarea form-sm">
			<label for="">Disabled textarea</label>
			<textarea name="" id="" rows="5" readonly>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione ipsa tempore natus fuga dicta quas molestias quibusdam! Magni, cum minus culpa possimus assumenda beatae ratione repellendus blanditiis quibusdam voluptate tempora?</textarea>
			<small>Texto ayuda para el usuario</small>
		</div>


		<div class="form-textarea form-md">
			<label for="">Disabled textarea</label>
			<textarea name="" id="" rows="5" readonly>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione ipsa tempore natus fuga dicta quas molestias quibusdam! Magni, cum minus culpa possimus assumenda beatae ratione repellendus blanditiis quibusdam voluptate tempora?</textarea>
			<small>Texto ayuda para el usuario</small>
		</div>


		<div class="form-textarea form-lg">
			<label for="">Disabled textarea</label>
			<textarea name="" id="" rows="5" readonly>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione ipsa tempore natus fuga dicta quas molestias quibusdam! Magni, cum minus culpa possimus assumenda beatae ratione repellendus blanditiis quibusdam voluptate tempora?</textarea>
			<small>Texto ayuda para el usuario</small>
		</div>

```

{% endmarkdown %}

{% endblock %}

