

{% extends "../layouts/default.njk" %}

{% block content %}

	<style>

	.utilities-heading h1 {
		padding-bottom: 0;
		border: 0;
	}

	.utilities-heading h3 {
		padding-bottom: 0px;
		border: 0;
	}

	.utilities-text {
		width: 70px;
		border: 1px solid #0E5989;
		border-style: dotted;
		padding: 5px;
	}

	</style>

{% markdown %}


# Textos

Modifica tamaños, alineación, interlineado... También, podemos modificar su <a href="colors.html">color</a> mediante
otras clases.

Mediante el archivo `variable.scss` podemos modificar todos los estilos de los encabezados, párrafos, citas...

### Encabezados

Estilos para todos los encabezados. También se puede usar como clase desde `.h1` a `.h6`.

<div class="demo utilities-heading">
	<h1>Encabezado 1</h1>
	<h2>Encabezado 2</h2>
	<h3>Encabezado 3</h3>
	<h4>Encabezado 4</h4>
	<h5>Encabezado 5</h5>
	<h6>Encabezado 6</h6>
</div>

```html

		<h1>Encabezado 1</h1>
		<h2>Encabezado 2</h2>
		<h3>Encabezado 3</h3>
		<h4>Encabezado 4</h4>
		<h5>Encabezado 5</h5>
		<h6>Encabezado 6</h6>

```

<div class="demo utilities-heading">
	<p class="h1">Párrafo como encabezado 1</p>
	<p class="h2">Párrafo como encabezado 2</p>
	<p class="h3">Párrafo como encabezado 3</p>
	<p class="h4">Párrafo como encabezado 4</p>
	<p class="h5">Párrafo como encabezado 5</p>
	<p class="h6">Párrafo como encabezado 6</p>
</div>

```html

		<p class="h1">Párrafo como encabezado 1</p>
		<p class="h2">Párrafo como encabezado 2</p>
		<p class="h3">Párrafo como encabezado 3</p>
		<p class="h4">Párrafo como encabezado 4</p>
		<p class="h5">Párrafo como encabezado 5</p>
		<p class="h6">Párrafo como encabezado 6</p>

```

### Display

Si necesitamos resaltar un título con mayor enfásis que un `h1` utilizamos la clase `display`.

<div class="demo">
	<p class="display">Párrafo como display</p>
</div>

```html

	<p class="display">Párrafo como display</p>

```

### Tamaños

Modifica el interlineado y el tamaño del elemento (desde resolución sm hasta xs, el tamaño se ve disminuido).

<div class="demo">
	<div class="row">
		<div class="col-6">
			<p class="text-xxl">.text-xxl</p>
			<p class="text-size-xxl">.text-size-xxl</p>
			<p class="text-xl">.text-xl</p>
			<p class="text-size-xl">.text-size-xl</p>
			<p class="text-lg">.text-lg</p>
			<p class="text-size-lg">.text-size-lg</p>
		</div>
		<div class="col-6">
			<p class="text-md">.text-md</p>
			<p class="text-size-md">.text-size-md</p>
			<p class="text-sm">.text-sm</p>
			<p class="text-size-sm">.text-size-sm</p>
			<p class="text-xxs">.text-xxs</p>
			<p class="text-size-xxs">.text-size-xxs</p>
		</div>
	</div>
</div>

```html

		<p class="text-xxl">.text-xxl</p>
		<p class="text-size-xxl">.text-size-xxl</p>
		<p class="text-xl">.text-xl</p>
		<p class="text-size-xl">.text-size-xl</p>
		<p class="text-lg">.text-lg</p>
		<p class="text-size-lg">.text-size-lg</p>

		<p class="text-md">.text-md</p>
		<p class="text-size-md">.text-size-md</p>
		<p class="text-sm">.text-sm</p>
		<p class="text-size-sm">.text-size-sm</p>
		<p class="text-xxs">.text-xxs</p>
		<p class="text-size-xxs">.text-size-xxs</p>

```
### Peso de la fuente

Modifica el grosor o el peso de la fuente.

<div class="demo">
	<p class="text-bolder">.text-bolder</p>
	<p class="bolder">bolder</p>
</div>

```html

		<p class="text-bolder">text-bolder</p>
		<p class="bolder">bolder</p>

```

<div class="demo">
	<p class="text-bold">.text-bold</p>
	<p class="strong">.strong</p>
	<p class="bold">.bold</p>
	<strong>bold</strong>
</div>

```html

		<p class="text-bold">.text-bold</p>
		<p class="strong">.strong</p>
		<p class="bold">.bold</p>
		<strong>bold</strong>

```

<div class="demo">
	<p class="text-normal">.text-normal</p>
	<p class="normal">.normal</p>
</div>

```html

		<p class="text-normal">.text-normal</p>
		<p class="normal">.normal</p>

```

<div class="demo">
	<p class="text-lighter">.text-lighter</p>
	<p class="light">.light</p>
</div>

```html

		<p class="text-lighter">.text-lighter</p>
		<p class="light">.light</p>

```

<div class="demo">
	<p class="text-thin">.text-thin</p>
	<p class="thin">.thin</p>
</div>

```html

	<p class="text-thin">.text-thin</p>
	<p class="thin">.thin</p>

```

### Alineación

Ajusta la dirección a la que se alinea el contenido. Se puede ajustar según la resolución de la pantalla mediante la
clase `text-#{$breakpoint}-*`.

<div class="demo">
	<p class="text-right">.text-right</p>
	<p class="text-lg-right">.text-lg-right</p>
	<p class="text-md-right">.text-md-right</p>
	<p class="text-sm-right">.text-sm-right</p>
	<p class="text-xs-right">.text-xs-right</p>
</div>

```html

		<p class="text-right">.text-right</p>
		<p class="text-lg-right">.text-lg-right</p>
		<p class="text-md-right">.text-md-right</p>
		<p class="text-sm-right">.text-sm-right</p>
		<p class="text-xs-right">.text-xs-right</p>

```

<div class="demo">
	<p class="text-left">.text-left</p>
	<p class="text-lg-left">.text-lg-left</p>
	<p class="text-md-left">.text-md-left</p>
	<p class="text-sm-left">.text-sm-left</p>
	<p class="text-xs-left">.text-xs-left</p>
</div>

```html

		<p class="text-left">.text-left</p>
		<p class="text-lg-left">.text-lg-left</p>
		<p class="text-md-left">.text-md-left</p>
		<p class="text-sm-left">.text-sm-left</p>
		<p class="text-xs-left">.text-xs-left</p>

```

<div class="demo">
	<p class="text-justify">.text-justify</p>
	<p class="text-lg-justify">.text-lg-justify</p>
	<p class="text-md-justify">.text-md-justify</p>
	<p class="text-sm-justify">.text-sm-justify</p>
	<p class="text-xs-justify">.text-xs-justify</p>
</div>

```html

		<p class="text-justify">.text-justify</p>
		<p class="text-lg-justify">.text-lg-justify</p>
		<p class="text-md-justify">.text-md-justify</p>
		<p class="text-sm-justify">.text-sm-justify</p>
		<p class="text-xs-justify">.text-xs-justify</p>

```

<div class="demo">
	<p class="text-center">.text-center</p>
	<p class="text-lg-center">.text-lg-center</p>
	<p class="text-md-center">.text-md-center</p>
	<p class="text-sm-center">.text-sm-center</p>
	<p class="text-xs-center">.text-xs-center</p>
</div>

```html

		<p class="text-center">.text-center</p>
		<p class="text-lg-center">.text-lg-center</p>
		<p class="text-md-center">.text-md-center</p>
		<p class="text-sm-center">.text-sm-center</p>
		<p class="text-xs-center">.text-xs-center</p>

```

### Máyusculas y minúsculas

Para modificar el texto a minúsculas usamos la clase `.text-lowercase`, mientras que si lo deseamos en mayúsculas
usamos `text-uppercase`.

<div class="demo">
	<p class="text-lowercase">TEXTO MINÚSCULA</p>
	<p class="text-uppercase">texto mayúsculas</p>
</div>

```html

		<p class="text-lowercase">TEXTO MINÚSCULA</p>
		<p class="text-uppercase">texto mayúsculas</p>

```

### Nowrap

Para que el texto no salte de línea, usamos la clase `text-nowrap`

<div class="demo">
	<div class="utilities-text">
		<p class="text-nowrap mb-none">.text-nowrap</p>
	</div>
</div>

```html

	<p class="text-nowrap">.text-nowrap</p>

```

### Subrayado

Subraya un elemento usando `text-decoration-underline` o, por el contrario, elimina el subrayado usando `text-decoration-none`

<div class="demo">
	<p class="text-decoration-underline">.text-decoration-underline</p>
	<p class="text-decoration-none">.text-decoration-none</p>
</div>

```html

	<p class="text-decoration-underline">.text-decoration-underline</p>
	<p class="text-decoration-none">.text-decoration-none</p>

```

### Citas

Un estilo personalizado para las citas sin necesidad de usar ninguna clase.

<blockquote>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque corrupti earum non.</blockquote>

```html

		<blockquote>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque corrupti earum non.</blockquote>

```

{% endmarkdown %}

{% endblock %}