
{% extends "../layouts/default.njk" %}

{% block content %}

{% markdown %}

# Visibilidad

Oculta o muestra elementos según la resolución en la que nos encontremos y también modifica su valor `display`.

Utilizando la clase `hidden` el elemento se oculta en todas las resoluciones, con `visible-#{$break}-*` se modifica su
valor `display` y con `hidden-#{$break}` se oculta según la resolución asignada.

<table class="table-responsive-list">
	<thead>
		<tr>
			<th>Resolución</th>
			<th>Clase</th>
		</tr>
	</thead>
	<tbody>

		<tr>
			<td>Ocultar en todas las resoluciones</td>
			<td class="token tag">.hidden</td>
		</tr>
		<tr>
			<td>Ocultar en lg</td>
			<td class="token tag">.hidden-lg</td>
		</tr>
		<tr>
			<td>Ocultar en md</td>
			<td class="token tag">.hidden-md</td>
		</tr>
		<tr>
			<td>Ocultar en sm</td>
			<td class="token tag">.hidden-sm</td>
		</tr>
		<tr>
			<td>Ocultar en xs</td>
			<td class="token tag">.hidden-xs</td>
		</tr>
		<tr>
			<td>Cambiar display en todas las resoluciones</td>
			<td class="token tag">
				.visible-block<br>
				.visible-inline-block<br>
				.visible-inline<br>
				.visible-flex<br>
				.visible-inline-flex
			</td>
		</tr>
		<tr>
			<td>Cambiar display en lg</td>
			<td class="token tag">
				.visible-lg<br>
				.visible-lg-block<br>
				.visible-lg-inline-block<br>
				.visible-lg-inline<br>
				.visible-lg-flex<br>
				.visible-lg-inline-flex
			</td>
		</tr>
		<tr>
			<td>Cambiar display en md</td>
			<td class="token tag">
				.visible-md<br>
				.visible-md-block<br>
				.visible-md-inline-block<br>
				.visible-md-inline<br>
				.visible-md-flex<br>
				.visible-md-inline-flex
			</td>
		</tr>
		<tr>
			<td>Cambiar display en sm</td>
			<td class="token tag">
				.visible-sm<br>
				.visible-sm-block<br>
				.visible-sm-inline-block<br>
				.visible-sm-inline<br>
				.visible-sm-flex<br>
				.visible-sm-inline-flex
			</td>
		</tr>
		<tr>
			<td>Cambiar display en xs</td>
			<td class="token tag">
				.visible-xs<br>
				.visible-xs-block<br>
				.visible-xs-inline-block<br>
				.visible-xs-inline<br>
				.visible-xs-flex<br>
				.visible-xs-inline-flex
			</td>
		</tr>
	</tbody>
</table>





{% endmarkdown %}

{% endblock %}