.flex {
	display: flex;
	flex-direction: row;
	box-sizing: border-box;

	&.flex-inline { display: flex-line; }
	&.row-reverse { flex-direction: row-reverse; }
	&.column-reverse { flex-direction: column-reverse; }
	
	&:not(.column) {

		// Vertical items alignment
		&.top { align-items: flex-start; background: red;}
		&.middle { align-items: center; }
		&.bottom { align-items: flex-end; }
		&.stretch { align-items: flex-stretch; }
		&.baseline { align-items: baseline; }	
		
		// Horizontal distribution
		&.left { justify-content: flex-start; }
		&.center { justify-content: center; }
		&.right { justify-content: flex-end; }
		&.space-arround { justify-content: space-around; }
		&.space-between { justify-content: space-between; }
		&.space-evenly { justify-content: space-evenly; }
	}

	&.column {
		flex-direction: column;
		
		// Vertical items alignment
		&.top { justify-content: flex-start; }
		&.middle { justify-content: center; }
		&.bottom { justify-content: flex-end; }
		&.space-arround { justify-content: space-around; }
		&.space-between { justify-content: space-between; }
		&.space-evenly { justify-content: space-evenly; }		
		
		// Horizontal distribution
		&.left { align-items: flex-start; }
		&.center { align-items: center; }
		&.right { align-items: flex-end; }
		&.stretch { align-items: flex-stretch; }
		&.baseline { align-items: baseline; }	
		
		// // Vertical distribution
		// &.column-start { align-content: flex-start; }
		// &.column-center { align-content: center; }
		// &.column-end { align-content: flex-end; }
		// &.column-space-arround { align-content: space-around; }
		// &.column-space-between { align-content: space-between; }
		// &.column-space-evenly { align-content: space-evenly; }
	}
	
	&.wrap { flex-wrap: wrap; }
	&.no-wrap { flex-wrap: nowrap; }
	&.wrap-reverse { flex-wrap: wrap-reverse; }


	.flex-item {
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: auto;
		box-sizing: border-box;

		// Vertical alignment
		&.top { align-self: flex-start; }
		&.middle { align-self: center; }
		&.bottom { align-self: flex-end; }
		&.baseline { align-self: baseline; }
		&.stretch { align-self: stretch; }

		// Change order
		&.last { order: 100 !important; }
		&.first { order: -1 !important; }
	}
}
