// Widths & Heights

.w100 { width: 100% !important; }
.w50 { width: 50% !important; }
.w33 { width: 33% !important; }
.w25 { width: 25% !important; }
.w20 { width: 20% !important; }
.w10 { width: 10% !important; }

.h100 { height: 100% !important; }
.h50 { height: 50% !important; }
.h33 { height: 33% !important; }
.h25 { height: 25% !important; }
.h20 { height: 20% !important; }
.h10 { height: 10% !important; }