{% set vars = htmlWebpackPlugin.options.customData %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{ vars.title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	</head>		
	<body>


		<style>

			.base-color {
				border: 1px solid var(--light);
				border-radius: 2px;
				padding: 15px;
				box-shadow: 0 0 20px rgba(0,0,0, 0.25);
				margin-bottom: 30px;
			}

			.base-color-square {
				display: block;
				width: 100%;
				height: 150px;
				margin-bottom: 10px;
			}

			.base-color-text {
				color: var(--gray);
			}
		
		</style>

		{% block content %}
		{% endblock %}
	</body>
</html>