@mixin make-button-variant(
	$font-color,
	$background-color,
	$border-color,
	$hover-font-color: $font-color,
	$hover-background-color: darken($background-color, 7%),
	$hover-border-color: darken($border-color, 7%),
	$active-font-color: lighten($font-color, 2%),
	$active-background-color: lighten($background-color, 2%),
	$active-border-color: lighten($border-color, 2%),
	$focus-color: rgba($background-color, 0.4)
	) {

	color: $font-color;
	background-color: $background-color;
	border-color: $border-color;

	&:not([disabled]):not(.disabled):hover {
		color: $hover-font-color;
		background-color: $hover-background-color;
		border-color: $hover-border-color;
	}

	&:focus {
		box-shadow: 0 0 0 3px darken($focus-color, 10%);	
	}

	&:not([disabled]):not(.disabled):active,
	&:not([disabled]):not(.disabled).active	{
		color: $active-font-color;
		background-color: $active-background-color;
		border-color: $active-border-color;
	}	
}
