

@mixin font($font-family: val(--font-family-base), $size: 1em, $line-height: 1.2, $color: inherit, $weight: normal, $style: normal) {
    color: $color;
    font-size: $size;
    font-style:  $style;
    font-weight: $weight;
    font-family: $font-family;
	line-height: $line-height;
}

