@mixin visible() {

	.hidden { display: none !important; }

	@each $break, $value in $breakpoints {

		// .visible-#{$break},
		// .visible-#{$break}-block,
		// .visible-#{$break}-inline,
		// .visible-#{$break}-inline-block,
		// .visible-#{$break}-flex,
		// .visible-#{$break}-inline-flex {
		// 	display: none;
		// }
		
		@include breakpoint($break) {
			.visible-#{$break} { display: block !important; }
			.visible-#{$break}-block { display: block !important; }
			.visible-#{$break}-inline { display: inline !important; }
			.visible-#{$break}-inline-block { display: inline-block !important; }
			.visible-#{$break}-flex { display: flex !important; }
			.visible-#{$break}-inline-flex { display: inline-flex !important; }			
			.hidden-#{$break} { display: none !important; }
		}

	}
}