
form {

	.valid-feedback {
		display: none;
		color: $color-success;
		font-size: 14px;
		margin-top: 5px;
	}

	.invalid-feedback {
		display: none;
		color: $color-danger;
		font-size: 14px;
		margin-top: 5px;
	}	
}

form.was-validated {

	.form-input {

		input:valid {
			border-color: $color-success;

			&:focus { box-shadow: 0px 0px 0px 3px rgba($color-success, 0.5); }
		}
		input:invalid {
			border-color: $color-danger;

			&:focus { box-shadow: 0px 0px 0px 3px rgba($color-danger, 0.5); }
		}

		input:valid + .valid-feedback,
		input:invalid + .invalid-feedback,
		input:valid + .invalid-feedback + .valid-feedback,
		input:invalid + .valid-feedback + .invalid-feedback { display: block; }
	}

	.form-textarea {

		textarea:valid {
			border-color: $color-success;

			&:focus { box-shadow: 0px 0px 0px 3px rgba($color-success, 0.5); }
		}
		textarea:invalid {
			border-color: $color-danger;

			&:focus { box-shadow: 0px 0px 0px 3px rgba($color-danger, 0.5); }
		}

		textarea:valid + .valid-feedback,
		textarea:invalid + .invalid-feedback,
		textarea:valid + .invalid-feedback + .valid-feedback,
		textarea:invalid + .valid-feedback + .invalid-feedback { display: block; }		
	}

	.form-select {

		select:valid {
			border-color: $color-success;

			&:focus { box-shadow: 0px 0px 0px 3px rgba($color-success, 0.5); }
		}
		select:invalid {
			border-color: $color-danger;

			&:focus { box-shadow: 0px 0px 0px 3px rgba($color-danger, 0.5); }
		}

		select:valid + .valid-feedback,
		select:invalid + .invalid-feedback,
		select:valid + .invalid-feedback + .valid-feedback,
		select:invalid + .valid-feedback + .invalid-feedback { display: block; }		
	}

	.form-check {

		input:valid {
			border-color: $color-success;

			&:focus { box-shadow: 0px 0px 0px 3px rgba($color-success, 0.5); }

			+ label, 
			+ label a { color: $color-success; }
		}
		input:invalid {
			border-color: $color-danger;

			&:focus { box-shadow: 0px 0px 0px 3px rgba($color-danger, 0.5); }
			
			+ label,
			+ label a { color: $color-danger;}
		}

		input:valid + label +.valid-feedback,
		input:invalid + label +.invalid-feedback,
		input:valid + label +.invalid-feedback + .valid-feedback,
		input:invalid + label + .valid-feedback + .invalid-feedback {
			display: block;
			margin-left: 18px;
		}		
	}
}






// .form-input,
// .form-label,
// .form-select,
// .form-textarea {
// 	width: auto;
// 	margin-bottom: $base-space-size;

// 	label {
// 		display: inline-block;
// 		color: $label-font-color;
// 		font-size: $label-font-size;
// 		font-weight: $label-font-weight;
// 		font-family: $label-font-family;
// 		margin-bottom: $base-space-size / pow($font-scale-factor, 3)
// 	}

// 	input,
// 	select,
// 	textarea {
// 		display: block;
//   		width: 100%;
//   		color: $input-font-color;
//   		font-size: $input-font-size;
//   		background-color: $input-background-color;
//   		line-height: 1em;
// 		height: $input-height;
//   		padding: $input-padding-y $input-padding-x;
// 		border-radius: $input-border-radius;
//   		border: $input-border-width solid $input-border-color;		
//   		background-clip: padding-box;

// 		transition: color .3s ease-in-out,
// 					background-color .3s ease-in-out,
// 					border-color .3s ease-in-out, 
// 					box-shadow .2s ease-out;	

// 		&::placeholder {
// 			color: $input-placeholder-color;
// 			opacity: 1;
// 		}

// 		&:focus {
// 			outline: 0px;
// 			box-shadow: 0px 0px 0px 3px darken($input-focus-shadow-color, 10%);
// 			background-color: $input-focus-background-color;
// 			color: $input-focus-font-color;
// 			border-color: $input-focus-border-color;
// 			z-index: 100; // Mantiene el box-shadow sobre el resto de elementos

// 			&:hover:active {
// 				box-shadow: none;
// 			}
// 		}

// 		&.disabled,
// 		&:disabled {
// 			opacity: 0.35;
// 			cursor: not-allowed;
// 		}

// 		&.readonly,
// 		&[readonly] {
// 			color: $input-font-color;
// 			background-color: map-get($grayscale, light);
// 			cursor: not-allowed;

// 			&:focus {
// 				box-shadow: none;
// 				background-color: map-get($grayscale, light);
// 				color: $input-focus-font-color;
// 				border-color: $input-border-color;

// 				&:hover:active { box-shadow: none; }
// 			}
// 		}		
// 	}

// 	small {
// 		color: $color-midtone;
// 	}

// 	// &.form-sm,
// 	// &.form-size-sm {

// 	// 	input,
// 	// 	select {
// 	// 		font-size: 1em / $font-scale-factor;
// 	// 		height: round($input-height / $font-scale-factor); 
// 	// 	}		
// 	// }

// 	// &.form-lg,
// 	// &.form-size-lg {

// 	// 	input,
// 	// 	select {		
// 	// 		font-size: 1em * $font-scale-factor;
// 	// 		height: round($input-height * $font-scale-factor); 
// 	// 	}
// 	// }
	

// 	// > [class^="icons-"],
// 	// > [class*=" icons-"] {
// 	// 	width: 100%;
// 	// 	position: relative;
		
// 	// 	input { padding-left: $base-space-size * 2.5; }
		
// 	// 	&:not(:first-child):not(:last-child) input {
// 	// 		border-left: none !important;
// 	// 		border-right: none !important;
// 	// 		border-radius: 0  !important;
// 	// 	}

// 	// 	&:first-child:last-child input {
// 	// 		border-radius: $input-border-radius  !important;
// 	// 		border: $input-border-width solid $input-border-color  !important;
// 	// 	}

// 	// 	&:first-child input {
// 	// 		border-right: none  !important;
// 	// 		border-top-right-radius: 0  !important;
// 	// 		border-bottom-right-radius: 0  !important;	
// 	// 	}

// 	// 	&:last-child input {
// 	// 		border-left: none  !important;
// 	// 		border-top-left-radius: 0  !important;
// 	// 		border-bottom-left-radius: 0  !important;	
// 	// 	}			
// 	// }

// 	// > [class^="icons-"]:before,
// 	// > [class*=" icons-"]:before { 
// 	// 	font-size: 1.5em; 
// 	// 	left: 8px;
// 	// 	margin-left: 0;
// 	// 	margin-right: 0;
// 	// 	position: absolute;
// 	// 	z-index: 300;
// 	// 	height: 100%;
// 	// 	line-height: $input-height;
// 	// 	color: map-get($grayscale, midtone);
// 	// }	

// }






.form-check,
.form-radio,
.form-checkbox,
.form-option {
	user-select: none;
	margin-bottom: $base-space-size;

    input[type=checkbox],
    input[type=radio] {
        height: 0px;
        width: 0px;
        display: none;
    }

    label {
        position: relative;
		display: inline-block;
		color: $label-font-color;
		font-size: $label-font-size;
		font-weight: $label-font-weight;
        top: 1px;
        line-height: 20px;
        padding-left: 30px;
        margin: 0;
        cursor: pointer;

        // Icono check
        &:after {
            position: absolute;
			font-size: 12px;
			font-family: "base";
			content: "\e800";
            color: $color-primary;
            top: 0px;
            left: 0px;
            width: 20px;
            height: 20px;
            text-align: center;
            opacity: 0;
			transform: translateX(-30%);
            transition: 0.2s;
        }

        // Background
        &:before {
            position: absolute;
            cursor: pointer;
            content: '';
            left: 0;
            top: 0;
            width: 20px;
            height: 20px;
            background: #fff;
			border: 1px solid $color-gray;
			border-radius: 2px;
            margin: 0;
        }
    }

	input[type=radio] + label {
		 &:after {
			font-size: 11px;
			font-family: "base";
			content: "\f111";
            top: 1px;
            left: 1px;
			transform: translateX(0);
        }

        &:before {
			border-radius: 100%;
        }		
	}

    input:checked + label {

        &:after {
		transform: translateX(0);
            opacity: 1;
        }

        &:before {background: #fff}
    }

    input:disabled + label {

		opacity: 0.35;
		cursor: not-allowed;
    }



	&.form-sm,
	&.form-size-sm {

		label {
			font-size: 1em / $font-scale-factor;
        	line-height: 15px;
        	padding-left: 30px;

			&:after {
				font-size: 11px;
				top: 0px;
				left: 0px;
				width: 15px;
				height: 15px;
				transform: translateX(-30%);
			}	

			&:before {
				left: 2px;
				width: 15px;
				height: 15px;
				margin: 0;
			}			
		}	

		input:checked + label:after {
            transform: translateX(3px);
        }
	}

	&.form-md,
	&.form-size-md {

		label {		
			font-size: 1em * $font-scale-factor;
		}
	}

	&.form-lg,
	&.form-size-lg {
		
		label {		
			font-size: 1em * $font-scale-factor * $font-scale-factor;
		}
	}		
}








