.form-switch {
	@extend .form-check;

    label {
        padding-left: 50px;

        // Elemento móvil
        &:after {
            position: absolute;
            content: '';
            top: 1px;
            left: 2px;
            width: 22px;
            height: 22px;
            background: #fff;
            border-radius: 90px;
            transition: 0.2s;
            background: #fff;
            opacity: 1;
            transform: translateX(0);
        }

        // Fondo
        &:before {
            position: absolute;
            content: '';
            cursor: pointer;
            left: 0;
            top: 0;
            width: 40px;
            height: 24px;
            background: #D8D8D8;
            border-radius: 100px;
            margin: 0;
        }
    }

    input:checked + label {
        color: $color-success;

        &:after {
            left: calc(40px - 2px);
            transform: translateX(-100%);
        }

        &:before {background: $color-success;}
    }


	&.form-sm,
	&.form-size-sm {

		label {
			font-size: 1em / $font-scale-factor;
        	line-height: 15px;
        	padding-left: 50px;

			&:after {
				position: absolute;
				content: '';
				top: 1px;
				left: 2px;
				width: 16px;
				height: 16px;
				background: #fff;
				border-radius: 90px;
				transition: 0.2s;
				background: #fff;
				opacity: 1;
				transform: translateX(0);
			}	

			&:before {
				position: absolute;
				content: '';
				cursor: pointer;
				left: 0;
				top: 0;
				width: 40px;
				height: 18px;
				background: #D8D8D8;
				border-radius: 100px;
				margin: 0;
			}			
		}	

		input:checked + label:after {
            transform: translateX(-100%);
        }
	}	

}