.form-textarea {
	width: auto;
	margin-bottom: $base-space-size;

	textarea {	
		display: block;
		width: 100%;
		resize: none;			
		color: $form-input-font-color;
		background-color: $form-input-background-color;
		
		font-size: $form-input-font-size;
		line-height: 1.5em;

		height: auto;
		padding: $form-input-padding-y $form-input-padding-x;
		
		border-radius: $form-input-border-radius;
		border: $form-input-border-width solid $form-input-border-color;		
		background-clip: padding-box;

		transition: $form-input-transition;	

		&::placeholder {
			color: $form-input-placeholder-color;
			opacity: 1;		
			line-height: normal !important;
		}

		&:hover:not(:focus):not(:disabled):not([readonly]) {
			border-color: $form-input-hover-border-color;
		}

		&:focus {
			outline: 0px;
			box-shadow: 0 0 0 2px $form-input-focus-shadow-color;
			background-color: $form-input-focus-background-color;
			color: $form-input-focus-font-color;
			border-color: $form-input-focus-border-color;
			z-index: 100; // Mantiene el box-shadow sobre el resto de elementos

			&:hover:active { box-shadow: none; }
		}

		&.disabled,
		&:disabled {
			opacity: 0.35;
			background-color: $form-input-disabled-background-color;
			pointer-events: none;
			cursor: not-allowed;
		}

		&.readonly,
		&[readonly] {
			color: $form-input-readonly-font-color;
			background-color: $form-input-readonly-background-color;
			cursor: not-allowed;

			&:focus {
				box-shadow: none;
				color: $form-input-readonly-focus-font-color;
				background-color: $form-input-readonly-focus-background-color;
				border-color: $form-input-readonly-focus-border-color;

				&:hover:active { box-shadow: none; }
			}
		}	
	}

	small {
		display: inline-block;
		color: $form-input-help-font-color;
		font-size: $form-input-help-font-size;
		margin-top: $base-space-size / 3;
		line-height: 1;
	}

	// Sizes

	&.form-sm,
	&.form-size-sm { textarea { font-size: $form-input-sm-font-size; } }

	&.form-md,
	&.form-size-md { textarea { font-size: $form-input-md-font-size; } }

	&.form-lg,
	&.form-size-lg { textarea { font-size: $form-input-lg-font-size; } }	
}
